<div class="ten cell" ng-controller="periodeAnneeController">
    <toasts notifications="notifications"></toasts>

    <article class="twelve cell ">
        <div class="row">
            <h2 class="two cell">
                <i18n>viescolaire.utils.annee.scolaire</i18n>
            </h2>
        </div>

        <div class="row margin-top-lg">
            <label class="cell two twelve-mobile">
                <i18n>viescolaire.utils.datedebut</i18n>
            </label>
            <date-picker ng-model="periodeAnnee.start_date" class="text-center remove-padding width-10"></date-picker>
        </div>

        <div class="row">
            <label class="cell two twelve-mobile">
                <i18n>viescolaire.utils.datefin</i18n>
            </label>
            <date-picker ng-model="periodeAnnee.end_date" class="text-center remove-padding width-10"></date-picker>
        </div>

        <div class="row">
            <button ng-if="!periodeAnnee.isExist"
                    class="right-magnet"
                    ng-click="createPeriodeAnnee()"
                    ng-disabled="!isValidForm()">
                <span class="no-style ng-scope"><i18n>viescolaire.save</i18n></span>
            </button>
            <button ng-if="periodeAnnee.isExist"
                    class="right-magnet"
                    ng-click="confirmUpdateSchoolYear()"
                    ng-disabled="!isValidForm()">
                <span class="no-style ng-scope"><i18n>item.modify</i18n></span>
            </button>
        </div>

    </article>

    <lightbox class="lightbox-update-school-year" show="opened.lightboxUpdateSchoolYear" on-close="opened.lightboxUpdateSchoolYear = false" >
        <div class="twelve row content">
            <h3>
                <i18n>viescolaire.year.set</i18n>
            </h3>

            <p>
                <i18n>viescolaire.confirmation.updateSchoolYear</i18n>
            </p>
            <div class="right-magnet button-margin">
                <button class="marginFive" ng-click="createPeriodeAnnee()">
                    <i18n>viescolaire.utils.confirm</i18n>
                </button>
                <button class="marginFive cancel" ng-click="cancelUpdateSchoolYear()">
                    <i18n>viescolaire.utils.cancel</i18n>
                </button>
            </div>
        </div>
    </lightbox>
</div>