<article class="paramServices ten cell" ng-controller="groupingController as vm">
    <div class="twelve twelve-mobile">
        <h3>
            <i18n>viescolaire.grouping.set</i18n>
        </h3>
        <div class="times-slot-choiceSchedule cell twelve-mobile twelve">
            <span class="twelve-mobile">
                <i18n>viescolaire.presentation</i18n>
            </span>
        </div>
        <grouping-create on-create-grouping="vm.createGrouping">

        </grouping-create>

        <grouping-list groupings="vm.groupings.all"
                       grouping-class-list="vm.groupingClass"
                       on-delete-grouping="vm.deleteGrouping"
                       on-update-grouping="vm.updateGrouping"
                       structure-list="structure"
                       on-add-grouping-audience="vm.addGroupingAudience"
                       on-delete-grouping-audience="vm.deleteGroupingAudience">

        </grouping-list>
    </div>


</article>