<div ng-controller="AbscSaisieElevePersonnel" class="saisi-absc">

    <!--Recherche élève-->
    <div class="  left-side" >
        <!-- Bloc recherche élève -->
        <article class="twelve cell eleven-mobile ng-scope" >
            <h2><i18n>viescolaire.utils.students</i18n></h2>

            <!-- Barre de recherche de l'élève -->
            <autocomplete options="structure.eleves.all" ng-change="selectEleve()" ng-model="selected.eleve"></autocomplete>
            <div class="row ng-scope" ng-if="display.showEleveCard">

                <div class="three cell">
                    <img class="avatar" src="/userbook/avatar/[[selected.eleve.id]]">
                </div>

                <div class="nine cell padding-sm">
                    <h2>[[selected.eleve.firstName]] [[selected.eleve.lastName]] - [[selected.eleve.className[0] ]]</h2>
                    <p>[[selected.eleve.birthDate]]</p>
                    <div class="row action-item">
                        <a ng-href="/conversation/conversation#/write-mail/[[selected.eleve.id]]" class="twelve cell">
                            <i class="send-mail inline"></i>
                            <i18n>viescolaire.absences.send.message</i18n>
                        </a>
                    </div>
                </div>

            </div>
        </article>

        <!-- Bloc absences de l'élève -->
        <article ng-show="display.showLastAbsences" class="twelve cell eleven-mobile ng-scope">
            <h2><i18n>viescolaire.absences.title.last.absences.entered</i18n></h2>

            <!-- Si des absences sont trouvés -->
            <div ng-show="selected.eleve.absencesToShow.length">
                <div ng-repeat="absenceToShow in selected.eleve.absencesToShow | limitTo:3" class="row" >
                    <div ng-include src="'/viescolaire/public/templates/absences/absc_personnel_show_simple_and_prev.html'"></div>
                </div>
            </div>

            <!-- Si aucune absence n'est trouvé -->
            <div ng-show="!selected.eleve.absencesToShow.length">
                <h2><i18n>viescolaire.absences.no.absence.to.show</i18n></h2>
            </div>

            <button ng-click="showLightboxAllAbsences(true)"><i18n>viescolaire.utils.show.more</i18n></button>
        </article>

    </div>


    <!-- créneau-->
    <div class="right-side">
        <div class=" twelve cell card  ">
            <div class = " creneau six cell">
                <h3><i18n>time-slot</i18n></h3>
                <div class="inline-child">
                    <div>
                        <label><i18n>viescolaire.utils.from</i18n></label>
                        <label >
                            <i class="calendar"></i>
                            <date-picker class="pointer" ng-model="selected.dateDb" ></date-picker>
                            <input type="time" ng-model="selected.timeDb" >
                        </label>
                    </div>
                    <div>
                        <label><i18n>viescolaire.utils.to</i18n></label>
                        <label>
                            <i class="calendar"></i>
                            <date-picker class="pointer" ng-model="selected.dateFn" ></date-picker>
                            <input type="time" ng-model="selected.timeFn" >
                        </label>
                    </div>
                </div>

            </div>
            <div class = "motif six cell">
                <h3><i18n>viescolaire.utils.reason</i18n></h3>
                <label class="select-input">
                    <select>
                        <optgroup label="Motifs non justifiés">
                            <option value="8">Sans motif</option>
                            <option value="21">Maladie sans certificat médical</option>
                            <option value="18">Vacances prolongées</option>
                        </optgroup><optgroup label="Motifs justifiés">
                        <option value="20">Maladie avec certificat médical</option>
                        <option value="24">Retard train</option>
                        <option value="19">Motif justifiant par défaut</option>
                        <option value="9">Maladie avec justificatif</option>
                        <option value="28">Hospitalisation</option>
                        <option value="29">Comme d'hab</option>
                    </optgroup>
                    </select>
                    <button><i18n>save</i18n></button>
                </label>

            </div>
            <!-- cours non caché-->
            <!-- Vue time ligne-->
        </div>

        <filters ng-show="display.calendar">
            <li class="changeWeekButton">
                <button ng-disabled="!allowDisplay.prev" class="changeWeekButtonBack" ng-click="previousWeekButton(); ">&#8592;</button>
                <button ng-disabled="!allowDisplay.next" class="changeWeekButtonNext" ng-click="nextWeekButton(); ">&#8594;</button>
            </li>
        </filters>
        <div class="calendardiv twelve cell card" ng-show="display.calendar">
            <calendar
                    display-template="../templates/absences/absc_personnel_saisie_abs/calendar-cours-display"
                    items="selected.eleve.cours"
            >
            </calendar>
        </div>
    </div>

    <!-- Lightbox qui affiche toutes les absences -->
    <lightbox show="displayLightboxAllAbsences" on-close="displayLightboxAllAbsences=false">
        <h2><i18n>viescolaire.absences.title.last.absences.entered</i18n></h2>
        <!-- Body affichage des absences -->
        <div ng-show="selected.eleve.absencesToShow.length" class="body-lightbox-last-absence">
            <div ng-repeat="absenceToShow in selected.eleve.absencesToShow" class="row" >
                <div ng-include src="'/viescolaire/public/templates/absences/absc_personnel_show_simple_and_prev.html'"></div>
            </div>
        </div>
        <!-- Footer avec bouton fermer -->
        <button class="right-magnet" ng-click="showLightboxAllAbsences(false)"><i18n>viescolaire.fermer</i18n></button>
    </lightbox>
</div>
