<div ng-controller="AbscSaisieElevePersonnel" class="saisi-absc">

    <!--Recherche élève-->
    <div class="  left-side" >
        <!-- Bloc recherche élève -->
        <article class="twelve cell eleven-mobile ng-scope" >
            <h2><i18n>viescolaire.utils.students</i18n></h2>

            <!-- Barre de recherche de l'élève -->
            <autocomplete options="structure.eleves.all" ng-change="selectEleve()" ng-model="selected.eleve"></autocomplete>
            <div class="row ng-scope" ng-if="display.showEleveCard == true">

                <div class="three cell">
                    <img class="avatar" ng-src="/userbook/avatar/[[selected.eleve.id]]">
                </div>

                <div class="nine cell padding-sm">
                    <h2>[[selected.eleve.firstName]] [[selected.eleve.lastName]] - [[selected.eleve.className[0] ]]</h2>
                    <p>[[getFormattedDate(selected.eleve.birthDate)]]</p>
                    <div class="row action-item">
                        <a ng-href="/conversation/conversation#/write-mail/[[selected.eleve.id]]" class="twelve cell">
                            <i class="send-mail inline"></i>
                            <i18n>viescolaire.absences.send.message</i18n>
                        </a>
                    </div>
                </div>

            </div>
        </article>

        <!-- Bloc absences de l'élève -->
        <article ng-show="display.showLastAbsences" class="twelve cell eleven-mobile ng-scope">
            <h2><i18n>viescolaire.absences.title.last.absences.entered</i18n></h2>

            <!-- Si des absences sont trouvés -->
            <div ng-show="selected.eleve.absencesToShow.length">
                <div ng-repeat="absenceToShow in selected.eleve.absencesToShow | limitTo:3" class="row" >
                    <div ng-include src="'/viescolaire/public/templates/absences/absc_personnel_saisie_abs/absc_personnel_show_simple_and_prev.html'"></div>
                </div>

                <button ng-click="showLightboxAllAbsences(true)"><i18n>viescolaire.utils.show.more</i18n></button>
            </div>

            <!-- Si aucune absence n'est trouvé -->
            <div ng-show="!selected.eleve.absencesToShow.length">
                <h2><i18n>viescolaire.absences.no.absence.to.show</i18n></h2>
            </div>
        </article>
    </div>


    <!-- créneau-->
    <div class="right-side">
        <div class=" twelve cell card" ng-show="display.creneau">
            <div class="row">
                <div class="creneau six cell">
                    <h3><i18n>time-slot</i18n></h3>
                    <div class="inline-child">
                        <div>
                            <label><i18n>viescolaire.utils.from</i18n></label>
                            <label >
                                <i class="calendar"></i>
                                <date-picker class="pointer" ng-model="selected.dateDb" ></date-picker>
                                <input type="time" ng-model="selected.timeDb" >
                            </label>
                        </div>
                        <div>
                            <label><i18n>viescolaire.utils.to</i18n></label>
                            <label>
                                <i class="calendar"></i>
                                <date-picker class="pointer" ng-model="selected.dateFn" ></date-picker>
                                <input type="time" ng-model="selected.timeFn" >
                            </label>
                        </div>
                    </div>
                </div>
                <div class="motif six cell">
                    <h3><i18n>viescolaire.utils.reason</i18n></h3>
                    <label class="select-input">
                        <select ng-change="selectMotif()" ng-model="selected.motif"
                                class="twelve"
                                ng-options="motif as motif.libelle group by motif.justifiant_libelle for motif in structure.motifs.all track by motif.id"></select>
                    </label>
                </div>
            </div>
            <div class="row footer-creneau">
                <button class="btn-rechercher" ng-if="inputHasChanged && !isRefreshingCalendar" ng-click="refreshTheCalendar()">Rechercher</button>
                <span ng-if="isRefreshingCalendar" class="num-conflit">
                    <div class="loader"></div>
                </span>
                <span ng-if="!inputHasChanged && !isRefreshingCalendar" class="num-conflit">
                    <div ng-if="canSaveEvent()"><i18n >viescolaire.absences.num.conflit</i18n> : [[numOfConflit]]</div>
                    <i18n ng-if="!canSaveEvent()">viescolaire.absences.cannot.save.event</i18n>
                </span>

                <button ng-if="numOfConflit && !inputHasChanged && !isRefreshingCalendar" ng-click="showLightboxCheckConflit(true)" class="right-magnet" ng-disabled="!canSaveEvent()">
                    <i18n>viescolaire.absences.check.conflit</i18n></button>
                <button ng-if="numOfConflit == 0  && !inputHasChanged && !isRefreshingCalendar" ng-click="showLightboxConfirm(true)" class="right-magnet" ng-disabled="!canSaveEvent()">
                    <i18n>viescolaire.utils.save</i18n></button>
            </div>
        </div>

        <filters ng-show="display.calendar">
            <li class="changeWeekButton">
                <button ng-disabled="!allowDisplay.prev" class="changeWeekButtonBack" ng-click="previousWeekButton(); ">&#8592;</button>
                <button ng-disabled="!allowDisplay.next" class="changeWeekButtonNext" ng-click="nextWeekButton(); ">&#8594;</button>
            </li>
        </filters>
        <div class="calendardiv twelve cell card" ng-show="display.calendar">
            <calendar
                    display-template="../templates/absences/absc_personnel_saisie_abs/calendar-cours-display"
                    items="selected.eleve.items"
            >
            </calendar>

        </div>

    </div>


    <!-- Lightbox confirmer sauvegarde -->
    <lightbox show="displayLightboxConfirm" on-close="displayLightboxConfirm=false">
        <h2><i18n>viescolaire.absences.save.periode.absence</i18n></h2>
        <div class="row">
            <label class="two cell label-form"><i18n>time-slot</i18n></label>
            <div class="ten cell">
                <span><i18n>viescolaire.utils.from</i18n> <span>[[getFormattedDate(selected.dateDb)]] [[selected.timeDb]]</span>
                    <i18n>viescolaire.utils.to</i18n> <span>[[getFormattedDate(selected.dateFn)]] [[selected.timeFn]]</span></span>
            </div>
        </div>
        <div class="row">
            <label class="two cell label-form"><i18n>viescolaire.absences.reason</i18n></label>
            <div class="ten cell">
                <span>[[selected.motif.libelle]]</span>
            </div>
        </div>
        <p><i18n>viescolaire.absences.confirm.save.periode.absence</i18n></p>
        <button class="right-magnet" ng-click="showLightboxConfirm(false)"><i18n>viescolaire.utils.cancel</i18n></button>
        <button class="right-magnet" ng-click="savePeriodeAbsence();showLightboxConfirm(false)"><i18n>true.maj</i18n></button>
    </lightbox>

    <!-- Lightbox conflits -->
    <lightbox show="displayLightboxCheckConflit" on-close="displayLightboxCheckConflit=false">
        <h2><i18n>viescolaire.absences.check.conflit.and.save</i18n></h2>
        <div class="row">
            <label class="two cell label-form"><i18n>time-slot</i18n></label>
            <div class="ten cell">
                <span><i18n>viescolaire.utils.from</i18n> <span>[[getFormattedDate(selected.dateDb)]] [[selected.timeDb]]</span>
                    <i18n>viescolaire.utils.to</i18n> <span>[[getFormattedDate(selected.dateFn)]] [[selected.timeFn]]</span></span>
            </div>
        </div>
        <div class="row">
            <label class="two cell label-form"><i18n>viescolaire.absences.reason</i18n></label>
            <div class="ten cell">
                <span>[[selected.motif.libelle]]</span>
            </div>
        </div>
        <div class="row">
            <div class="six cell">
                <h3><i18n>viescolaire.absences.list.conflit</i18n></h3>
            </div>
            <div class="six cell tabs tabs-view-conflit">
                <header ng-class="{'selected': timelineIsVisible}">
                    <a ng-click="setTimelineVisible(true)" class=""><i18n>viescolaire.absences.timeline</i18n></a>
                </header>
                <header ng-class="{'selected': !timelineIsVisible}">
                    <a ng-click="setTimelineVisible(false)" class=""><i18n>viescolaire.absences.list</i18n></a>
                </header>
            </div>
        </div>


        <div class="body-lightbox-last-absence" ng-if="displayLightboxCheckConflit">

            <div class="timeline-story vertical-spacing row" ng-show="timelineIsVisible">
                <!-- Pour chaque jour -->
                <div ng-repeat="day in selected.eleve.coursGroupByDay">
                    <!-- On affiche la date -->
                    <div class="timeline-section-title"><span>[[getFormattedDate(day.date)]]</span></div>
                    <!-- On affiche les cours du jours-->
                    <div ng-repeat="cours in day.cours" class="twelve cell event-row">
                        <div class="timeline-badge cell">
                            <div class="round grey"></div>
                        </div>

                        <article class="horizontal-spacing cell timeline-cours-panel" ng-class="getClassTimelineCours(cours)">
                            <p>
                                <b>[[cours.subjectLabel.name]]</b>: [[getFormattedDate(cours.startMoment)]] [[getFormattedTime(cours.startMoment)]] - [[getFormattedTime(cours.endMoment)]]
                                <span ng-if="!isAfterToday(cours.startMoment)">
                                    <i ng-show="cours.absence && !equalsMotifIdOfPa(cours.absence.motif.id)" class="right-magnet warning-icon" tooltip="Motif différent"></i>
                                    <i ng-show="!cours.absence" class="right-magnet warning-icon" tooltip="Pas d'absence associée au cours"></i>
                                </span>
                            </p>
                            <span ng-show="cours.absence"><i18n>viescolaire.absences.reason</i18n>: [[cours.absence.motif.libelle]]</span>
                            <!-- Evenements -->
                            <a class="right-magnet" ng-click="cours.expanded = !cours.expanded;" ng-show="cours.evenements">
                                <i18n ng-if="!cours.expanded">viescolaire.absences.show.event</i18n>
                                <i18n ng-if="cours.expanded">viescolaire.absences.hide</i18n>
                            </a>
                            <ul ng-show="cours.evenements && cours.expanded">
                                <li ng-repeat="event in cours.evenements">
                                    <i18n ng-if="event.id_type == 2">viescolaire.absences.retard</i18n>
                                    <i18n ng-if="event.id_type == 3">viescolaire.absences.depart</i18n>
                                    <i18n ng-if="event.id_type == 4">viescolaire.absences.incident</i18n>
                                </li>
                            </ul>
                        </article>
                    </div>
                </div>
            </div>
            <!-- Vue liste -->
            <ul ng-show="!timelineIsVisible">
                <div ng-if="selected.eleve.coursWithConflit.length">
                    <h4><i18n>viescolaire.absences.conflit.cours</i18n></h4>
                    <div ng-repeat="cours in selected.eleve.coursWithConflit">
                        <b>[[cours.subjectLabel.name]]</b>: [[getFormattedDate(cours.startMoment)]] [[getFormattedTime(cours.startMoment)]] - [[getFormattedTime(cours.endMoment)]].
                        <i18n>viescolaire.absences.conflit</i18n>:
                        <span ng-show="!cours.absence"><i18n>viescolaire.absences.no.absence.associated</i18n></span>
                        <span ng-show="cours.absence && !equalsMotifIdOfPa(cours.absence.motif.id)"><i18n>viescolaire.absences.motif.different</i18n></span>
                    </div>
                </div>
                <div ng-if="selected.eleve.arrayConflitAbscPrev.length">
                    <h4><i18n>viescolaire.absences.conflit.absenceprev</i18n></h4>

                    <div ng-repeat="abscPrev in selected.eleve.arrayConflitAbscPrev" class="twelve cell">
                        <div>
                            <i18n>viescolaire.utils.from</i18n> [[getFormattedDateTime(abscPrev.startMoment)]] <i18n>viescolaire.utils.to</i18n> [[getFormattedDateTime(abscPrev.endMoment)]].
                            <b><i18n>viescolaire.absences.reason</i18n>: </b>[[abscPrev.motif.libelle]]
                        </div>
                    </div>
                </div>
            </ul>
        </div>

        <p><i18n>viescolaire.absences.confirm.replace.save.periode.absence</i18n></p>
        <button class="right-magnet" ng-click="showLightboxCheckConflit(false)"><i18n>viescolaire.utils.cancel</i18n></button>
        <button class="right-magnet" ng-click="savePeriodeAbsence();showLightboxCheckConflit(false)"><i18n>true.maj</i18n></button>
    </lightbox>

    <!-- Lightbox qui affiche toutes les absences -->
    <lightbox show="displayLightboxAllAbsences" on-close="displayLightboxAllAbsences=false">
        <h2><i18n>viescolaire.absences.title.last.absences.entered</i18n></h2>
        <!-- Body affichage des absences -->
        <div ng-show="selected.eleve.absencesToShow.length" class="body-lightbox-last-absence">
            <div ng-repeat="absenceToShow in selected.eleve.absencesToShow" class="row" >
                <div ng-include src="'/viescolaire/public/templates/absences/absc_personnel_saisie_abs/absc_personnel_show_simple_and_prev.html'"></div>
            </div>
        </div>
        <!-- Footer avec bouton fermer -->
        <button class="right-magnet" ng-click="showLightboxAllAbsences(false)"><i18n>viescolaire.fermer</i18n></button>
    </lightbox>
</div>
