<!DOCTYPE html>
<html>

	<head>
		<title>{{#i18n}}viescolaire.absences.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
		<script src="/viescolaire/public/modules/absences/js/directive/absc_enseignant.js" type="text/javascript"></script>
		<script src="/viescolaire/public/modules/absences/js/model/absc_enseignant_mdl.js" type="text/javascript"></script>
		<script src="/viescolaire/public/modules/absences/js/controller/absc_enseignant_ctrl.js" type="text/javascript"></script>
		<script type="text/ng-template" id="empty"></script>
		<link rel="stylesheet" href="/viescolaire/public/css/fontawesome/css/font-awesome.css">
	</head>

	<body ng-controller="AbsencesController">
		<portal>
			<container template="main"></container>
			<lightbox show="lightbox.show" on-close="lightbox.show = false;">
				<container template="lightbox"></container>
			</lightbox>
		</portal>
	</body>

</html>
