/build
/bin
.DS_Store
.classpath
.project
/.gradle
/.settings
.jshintrc
/.idea
*.iml
workspace.xml
/.idea/workspace.xml
/node_modules
/bower_components
/src/main/resources/public/ts/entcore
/src/main/resources/public/temp
/src/main/resourves/public/dist/*
/src/test/
/src/main/resources/public/modules/entcore
/src/main/resources/public/templates/entcore
/src/main/resources/view
/manifests
*.bat
tslint.json
