/build
/bin
.DS_Store
.classpath
.project
/.gradle
/.settings
.jshintrc
/.idea
*.iml
workspace.xml
/.idea/workspace.xml
/node_modules
/bower_components
/src/main/resources/public/ts/entcore
/src/main/resources/public/temp
/src/main/resources/public/dist/*
/src/main/resources/public/modules/entcore
/src/main/resources/public/template/entcore/*.html
/src/main/resources/public/templates/entcore/**/*
/src/main/resources/public/template/entcore/*
/src/main/resources/view
/manifests
*.bat
tslint.json
.gitignore
/nbproject/private/
/src/main/resources/public/font
/src/main/resources/public/js/behaviours.js
/coverage/
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
package-lock.json
pnpm-lock.yaml
.pnpm-store
css
?
.env
target
dependency-reduced-pom.xml