<lightbox show="lightboxes.create" on-close="lightboxes.create = false" class="visible-overflow">
    <h3>
        <i18n>evaluation.service.lightboxes.create</i18n>
    </h3>

    <div class="lightboxCreateCSS">
        <div class="row">
            <h4>
                <i18n>evaluation.service.columns.matiere</i18n>
            </h4>
            <label class="select">
                <select ng-model="service.id_matiere"
                        ng-options="matiere.id as (matiere.name + ' (' + matiere.externalId + ')') for matiere in columns.matiere.data | orderBy:'name'">
                    <option class="header-opt" disabled value="">
                        [[lang.translate('evaluation.service.columns.matiere')]]
                    </option>
                </select>
            </label>
        </div>

        <div class="row">
            <h4>
                <i18n>viescolaire.competences.classe.groupe</i18n>
            </h4>
            <div class="select-blocks line-heigth-23">
                <div ng-repeat="classe in classesSelected"
                     ng-click="deleteClasse(classe)">
                    [[classe.name]]
                </div>
            </div>
            <multi-combo
                    class="twelve selectedMultiBox"
                    title="[[lang.translate('viescolaire.competences.classe.groupe')]]"
                    combo-model="columns.classe.data"
                    search-on="name"
                    order-by="['type_groupe_libelle','name']"
                    filtered-model="classesSelected"
                    labels="comboLabels"
            ></multi-combo>
        </div>
        <div class="row">
            <h4>
                <i18n>evaluation.service.columns.teacher</i18n>
            </h4>

            <label class="select">
                <select ng-model="service.id_enseignant"
                        ng-options="enseignant.id as enseignant.displayName for enseignant in columns.enseignant.data | orderBy: 'displayName'">
                    <option class="header-opt" disabled value="">
                        [[lang.translate('evaluation.service.columns.teacher')]]
                    </option>
                </select>
            </label>
        </div>
        <div class="row">
            <h4>
                <i18n>evaluation.service.columns.evaluable</i18n>
            </h4>

            <label class="checkbox">
                <input type="checkbox"
                       ng-model="::service.evaluable"/>
                <span></span>
            </label>
        </div>
    </div>

    <button class="marginFive magnet-right"
            ng-disabled="checkIfExistsAndValid(service)"
            ng-click="createService(service)">
        <i18n>viescolaire.utils.save</i18n>
    </button>
    <button ng-click="lightboxes.create = false" class="right-magnet cancel">
        <i18n>viescolaire.utils.cancel</i18n>
    </button>
</lightbox>