{
    "name": "{{ vieScolaireVersion }}",
    "config": {
        "main": "fr.openent.Viescolaire",
        "port": 8128,
        "sql": true,
        "app-name": "Viescolaire",
        "app-address": "/viescolaire",
        "app-icon": "https://{{ host }}/viescolaire/public/img/uni-parametres.svg",
        "db-schema": "viesco",
        "host": "https://{{ host }}",
        "ssl": true,
        {% if overrideTheme %} "override-theme": {{ override2d }}, {% endif %}
        "auto-redeploy": false,
        "userbook-host": "https://{{ host }}",
        "integration-mode": "HTTP",
        "app-registry.port": 8012,
        "mode": "prod",
        "entcore.port": 8009,
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": 5
                },
                "LIBELLE_SERVICE": {
                    "default": "SERVICES_VIE_SCOLAIRE"
                }
            }
        },
        "services": {
            "competences": {% if competencesVersion is defined %}true{% else %}false{% endif %},
            "presences": {% if presencesVersion is defined %}true{% else %}false{% endif %},
            "edt": {% if edtVersion is defined %}true{% else %}false{% endif %},
            "diary": {% if diaryVersion is defined %}true{% else %}false{% endif %},
            "massmailing": {% if massmailingVersion is defined %}true{% else %}false{% endif %}
        },
        "exports": {
            "template-path": "./public/templates/pdf/"
        },
        "update-classes" : {
            "timeout-transaction" : 1000,
            "enable-date": "{{vieScolaireEnableDate}}"
        }
    }
}