<div class="row twelve cell">

    <!-- Header -->
    <header class="header-absences">
        <h1><i18n>viescolaire.absences.title</i18n></h1>
    </header>

    <!--  Menu de gauche  -->
    <nav class="two cell">
        <div class="pannel-in-cell">
            <div>
                <date-picker ng-model="appel.date" ng-change="showDate = true;selectAppel()"></date-picker>
            </div>
            <div class="appel__journee-calendar" ng-if="creneaus.all.length > 0">
                <div ng-repeat="creneau in creneaus.all"
                     ng-class="{'appel__journee-calendar__creneau-selected' :currentCours !== undefined && currentCours.id === creneau.cours.id,'appel__journee-calendar__creneau' : creneau.cours !== undefined, 'appel__journee-calendar__creneau-vide': creneau.cours === undefined}"
                     ng-style="creneau.style"
                >
                    <div class="twelve cell appel__journee-calendar-creneau-header">[[creneau.heureDebut]]</div>
                    <div class="twelve cell appel__journee-calendar-creneau-middle" ng-if="creneau.cours !== undefined" ng-click="selectCours(creneau.cours)">[[creneau.cours.libelle_classe]]</div>
                    <div class="twelve cell appel__journee-calendar-creneau-middle" ng-if="creneau.cours === undefined">
                        <i18n>viescolaire.absences.appel.crenau.vide</i18n>
                    </div>
                    <div class="twelve cell appel__journee-calendar-creneau-footer">[[creneau.heureFin]]</div>
                </div>
            </div>
        </div>
    </nav>

    <div ng-show="currentCours !== undefined">
        <!--  Liste eleves (zone centrale)  -->
        <div class="cell" ng-class="{ten : !detailEleveOpen, seven: detailEleveOpen}">
            <div ng-include="template.containers.absc_teacher_appel_eleves_container"></div>
        </div>

        <!--  Detail eleve (zone de droite)  -->
        <aside class="three cell" ng-if="detailEleveOpen">
            <container class="" template="rightSide_absc_eleve_appel_detail"></container>
        </aside>
    </div>

</div>