<div class="cell pannel-in-cell">
  <div class="six cell">
    <h2>[[currentEleve.nom]] [[currentEleve.prenom]]</h2>
  </div>
  <div class="six cell">
      <img src="[[currentEleve.n.data.picture]]" alt="" ng-if="currentEleve.n !== undefined && currentEleve.n !== null" />
      <img src="/directory/public/img/no-avatar.jpg?thumbnail=48x48" alt="" ng-if="currentEleve.n === undefined || currentEleve.n === null" />
  </div>

  <div class="twelve cell">
    <section>
      <textarea ng-model="currentEleve.evenementObservation.mot_pour_la_vie_scolaire"
                ng-required="false"
                placeholder="Observations">
      </textarea>
    </section>
    <section>
      <input id="hasRetard" type="checkbox" ng-model="currentEleve.hasRetard" ng-click="checkHasRetard();">
      <label for="hasRetard">
        <i18n>viescolaire.absences.retard</i18n>
      </label>

      <input type="time" ng-model="currentEleve.evenementRetard.heure" placeholder="Heure arrivé">

      <textarea ng-model="currentEleve.evenementRetard.mot_pour_la_vie_scolaire"
                ng-required="false"
                placeholder="Motif">
      </textarea>
    </section>


    <section>
      <input id="hasDepart" type="checkbox" ng-model="currentEleve.hasDepart" ng-click="checkHasDepart();">
      <label for="hasDepart">
        <i18n>viescolaire.absences.depart</i18n>
      </label>

      <input type="time" ng-model="currentEleve.evenementDepart.heure" placeholder="Heure départ">

      <textarea ng-model="currentEleve.evenementDepart.mot_pour_la_vie_scolaire"
                ng-required="false"
                placeholder="Commentaire">
      </textarea>
    </section>
    <section>
      <input id="hasIncident" type="checkbox" ng-model="currentEleve.hasIncident" ng-click="checkHasIncident();">
      <label for="hasIncident">
        <i18n>viescolaire.absences.incident</i18n>
      </label>


      <select ng-model="currentEleve.evenementIncident.mot_pour_la_vie_scolaire">
        <option value="1" selected="selected">Punition</option>
      </select>
    </section>
  </div>
</div>
