<div class="help">
    <h1><i18n>viescolaire.utils.help</i18n></h1>
    <h2><i18n>viescolaire.utils.iconography</i18n></h2>
    <ul>
        <li><span tooltip="Retard" class="fa fa-clock-o appel__evenement-icon retard-color-icon" ></span> : <i18n>viescolaire.absences.retard</i18n></li>
        <li><span tooltip="Départ" class="fa fa-clock-o appel__evenement-icon depart-color-icon" ></span> : <i18n>viescolaire.absences.depart</i18n></li>
        <li><span tooltip="Incident" class="fa fa-exclamation appel__evenement-icon incident-color-icon" ></span> : <i18n>viescolaire.absences.incident</i18n></li>
    </ul>

    <h2><i18n>viescolaire.utils.colours</i18n></h2>
    <ul>
        <li><div class="absence-color help--color-absences"></div> : <i18n>viescolaire.viescolaire.absences.sans.motif</i18n></li>
        <li><div class="retard-color help--color-absences"></div> : <i18n>viescolaire.absences.retard</i18n></li>
        <li><div class="depart-color help--color-absences"></div> : <i18n>viescolaire.absences.depart</i18n></li>
        <li><div class="absence-prev-color help--color-absences"></div> : <i18n>viescolaire.utils.absence.previsionnelle</i18n></li>
    </ul>
</div>