<div class="cell list-view-cgi pannel-in-cell">
    <div class="row list-view-cgi__header">
        <div class="one cell">
            &nbsp;
        </div>
        <div class="four cell">
            <i18n>viescolaire.absences.eleves</i18n>
        </div>
        <div class="two cell">
            <i class="help" ng-click="lightboxAppel()"></i>
        </div>
        <div class="five cell">
            <i18n>viescolaire.absences.historique</i18n>
        </div>
    </div>

    <div class="row">

        <div class="twelve cell">
            <div class="one cell cell-indent">
                &nbsp;
            </div>
            <div class="six cell cell-indent">
                <div class="appel_eleves-presents"><i18n>viescolaire.absences.nb.presents</i18n> : [[currentCours.nbPresents]] / [[currentCours.nbEleves]]</div>
            </div>
            <div class="five cell cell-indent">
                <div ng-repeat="plage in plages.all"
                     ng-style="plage.style"
                     class="appel__historiques-creneau-plage"
                >
                    [[plage.heure]]
                </div>
            </div>
        </div>

        <div class="list-view-cgi__grille">
            <div class="twelve cell" ng-repeat="eleve in currentCours.eleves.all">
                <div class="one cell cell-indent appel__container-icon">
                    <span class="appel__absence-icon"
                            ng-class="{'absence-color' : eleve.isAbsent}"
                            ng-click="ajouterEvenementAbsence(eleve)">

                    </span>
                </div>
                <div class="four cell cell-indent" ng-click="detailEleveAppel(eleve)">
                    [[eleve.eleve_nom]] [[eleve.eleve_prenom]]
                </div>
                <div class="two cell cell-indent">
                    <span tooltip="Retard" class="fa fa-clock-o appel__evenement-icon retard-color-icon" ng-if="eleve.hasRetard">
                    </span>
                    <span tooltip="Départ" class="fa fa-clock-o appel__evenement-icon depart-color-icon" ng-if="eleve.hasDepart">
                    </span>
                    <span tooltip="Incident" class="fa fa-exclamation appel__evenement-icon incident-color-icon" ng-if="eleve.hasIncident">
                    </span>
                    <span ng-if="!eleve.hasRetard && !eleve.hasDepart && !eleve.hasIncident">&nbsp;</span>
                </div>
                <div class="five cell cell-indent">
                    <div ng-repeat="creneau in eleve.creneaus.all"
                         ng-style="creneau.style"
                         ng-class="{'absence-color' : creneau.isAbsent, 'retard-color' : creneau.hasRetard, 'depart-color' : creneau.hasDepart, 'absence-prev-color' : creneau.hasAbsencePrev && !creneau.isAbsent}"
                         class="appel__historiques-creneau-eleve"
                    >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>