body.vsco--global {
  i.check-empty::after{
    content: "\e83d";
  }

  i.clock::after {
    content: '\f017';
  }
  i.plus::after{
    content:  '\e85e';
    font-size: large;
  }
  i.moins::after{
    content:  '-';
    font-size: xx-large;
  }
  i.ok::after{
    content:  '\e871';
    font-size: large;
  }
  i.alerte::after{
    content: '!';
    font-size: xx-large;
  }
  i.warning::before, i.report::before {
    content: '\e903';
    font-size: 18px;
  }

  .left-arrow::after {
    content: "\e87b";
    opacity: 0.8;
    cursor: pointer;
    border: none;
    background-color: inherit;
    color: $grey;
    &:hover {
      color: $cyan;
    }
  }

  .right-arrow::after {
    content: "\e823";
    opacity: 0.8;
    cursor: pointer;
    border: none;
    background-color: inherit;
    color: $grey;
    &:hover {
      color: $cyan;
    }
  }

  .clock::after {
    content: "\f017";
  }

  i.phone::after {
    content: '\f095'
  }
}