body.presences {
  /**
  TABLE DES MATIERES
    1. ENSEIGNANT-APPEL
    2. CPE-PAGE-ACCUEIL
  **/

  /**
    $ENSEIGNANT-APPEL
  **/

  .acu_button {
    margin-right: 4% !important;
  }

  //TODO SWITCH VERS ICONS
  .close-input {
    right: 18px;
    position: absolute;
    top: 0px;
    @include fonticon;
    &::after {
      content: '\e866';
      font-size: 15px;
      color: $grey;
      font-weight: 300;
      opacity: 0.8;
      cursor: pointer;
      border: none;
      background-color: inherit;
    }
    &:hover::after {
      color: $cyan;
    }
  }

  .header-nav__fil-ariane-appel {
    padding-left: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 40px;
  }

  .content-box-accueil {
    padding: 5px;
  }

  .appel-cours {
    width: 100%;
  }

  .pannel-in-cell {
    margin: 10px;
    padding: 10px;
    background-color: white;
    overflow: hidden;
    @include border-radius(5px);
    @include box-shadow(0px 1px 1px rgba(0, 0, 0, 0.4));
  }

  .appel__calendar {
    color : rgba(85, 85, 85, 0.7);

    input[type=text] {
      width: 60%;
    }
  }

  .appel__absence-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: solid 1px;
    @include box-shadow(rgba(0, 0, 0, 0.15) 0px 0px 5px 0px);

    &.appel__absence-icon--cpe {
      border: solid 1px;
      background-color: $grey;
    }
  }

  //$retard-color:#E88010;
  //$depart-color:#F75A92;
  //$incident-color:#E62727;
  //$absence-color:rgb(224, 103, 103);
  //$absence-prev-color:#DDD238;
  //$commentaire-color: $primary-light;
  $retard-color: #4981ff;
  $depart-color: #009688;
  $incident-color: #f16601;
  $absence-color: #F44336;
  $absence-prev-color: #e0e0e0;
  $commentaire-color: #a261ed;

  .absence-color {
    background-color: $absence-color;
  }

  .commentaire-color {
    background-color: $commentaire-color;
  }

  .retard-color {
    background-color: $retard-color;
  }

  .depart-color {
    background-color: $depart-color;
  }

  .absence-prev-color {
    background-color: $absence-prev-color;
  }




  .incident-color {
    background-color: $incident-color;
  }

  .appel__evenement-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
  }

  .retard-color-icon {
    @include appel__evenement-icon(25px, 10deg, $retard-color);
  }

  .depart-color-icon {
    @include appel__evenement-icon(25px, 350deg, $depart-color);
  }

  .incident-color-icon {
    @include appel__evenement-icon(22px, 0, $incident-color);
  }

  .appel__journee-calendar {
    width: 100%;
    background-color: white;
  }
  .appel__journee-calendar-creneau-header {
    height: 33%;
  }
  .appel__journee-calendar-creneau-middle {
    height: 33%;
    text-align: center;
    font-weight: bold;
    color: white;
  }

  .appel__journee-calendar-creneau-footer {
    height: 33%;
    display: flex;
    align-items: flex-end;
  }

  .appel__journee-calendar__creneau {
    background-color: $primary;
    padding: 0 5px;
    margin: 5px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 2px 0px;
    color: white;
  }

  .appel__journee-calendar__creneau-selected {
    background-color: $orange;
  }

  .appel__journee-calendar__creneau-futur {
    background-color: #5f5f5f;
    padding: 0 5px;
    margin: 5px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 2px 0px;
    color: white;
  }

  .appel__journee-calendar__creneau-vide {
    padding: 0 5px;
    background-color: rgba(206, 216, 220, 0.35);
    padding: 0 5px;
    margin: 5px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 2px 0px;
    color: #504D4D;
  }

  .appel__historiques-creneau-plage {
    @include appel__historiques-creneau(29px);
    margin-left: -2px;
  }

  .appel__historiques-creneau-eleve {
    @include appel__historiques-creneau(29px);
  }

  .appel__historique {
    display: inline-block;

    i {
      width: auto;
      height: auto;
      text-indent: 0px;
    }
  }

  .mobile-panel {
    overflow-y: auto;
  }

  .appel__detail-eleve-close {
    text-align: right;
    color: #C0C0C0;
    margin-bottom: 5px;
    font-size: 20px;
    margin-top: -10px;
  }

  .appel__detail-eleve-img {
    width: 90%;
    float: right;
    margin-top: 3px;
  }

  .appel__detail-eleve_nom {
    margin-top: 0;
  }
  .appel__detail-eleve-icon-mail {
    cursor: pointer;
    color: #CBD81D;
  }

  .appel__detail-eleve-icon-stats {
    cursor: pointer;
    color: #CE2351;
  }
  .appel_eleves-presents {
    color: $green;
  }

  .appel__info {
    display: inline-block;
    margin-left: 15px;
  }

  i.show-vue-eleves {
    @include fonticon;
    font-size: 24px;
    opacity: 0.2;

    &::after {
      content: "\e8b5";
    }

    &.selected {
      opacity: 0.6;
    }
  }

  i.show-vue-classes {
    @include fonticon;
    font-size: 24px;
    opacity: 0.2;

    &::after {
      content: "\e8bc";
    }

    &.selected {
      opacity: 0.6;
    }
  }

  /**
    $CPE-PAGE-ACCUEIL
  **/

  .menu-accueil {
    padding: 5px !important;
    margin: 0 !important;
    white-space: nowrap;
    overflow: hidden;
  }

  .box-accueil {

    margin: 10px !important;
    padding: 5px !important;

    > h2 {
      text-align: center;
      margin-bottom: 0;
    }

    table {
      overflow-y: scroll;
      max-height: 220px !important;
      display: block;
    }

    .content-box-accueil--table {

      .content-box-accueil--table--header {
        background: $primary;
        padding-right: 17px;

        h5 {
          color: $white !important;
          text-indent: 10px;
        }
      }

      .content-box-accueil--table--content {
        font-size: 12px;
        padding: 5px 0;
        overflow-y: scroll;
        height: 260px;

        > .row {
          padding: 5px 0;
          text-indent: 10px;
        }

        > .row:nth-child(2n) {
          background-color: $light-grey;
        }
      }
    }
  }
  .content-box-accueil {
    padding: 5px;
  }

  .help {
    ul {
      list-style-type: none;
    }
    h1, h2 {
      text-transform: capitalize;
    }
    .help--color-absences {
      width: 40px;
      height: 20px;
      display: inline-block;
    }
  }

  /**
    $CPE-FILTRES
  **/
  .filtre {
    height: auto;
    max-height: 20px;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    @include border-radius(2px);
    @include transition(all 0.4s ease);
    background-color: $white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);

    .ellipsis {
      margin-right: 30px;
    }

    &.filtre-creneaux {
      max-height: 25px;

      .date-selection {
        -webkit-user-select: none; /* Chrome all / Safari all */
        -moz-user-select: none; /* Firefox all */
        -ms-user-select: none; /* IE 10+ */
        display: flex;
        margin: 0px 10px 20px 10px;
        height: auto;
        width: auto;
        line-height: normal;
        padding: 0px;
        font-size: medium;
        flex-direction: row;
        align-items: center;

        .appel__calendar {
          margin: 0px 20px;
          display: flex;
          flex-direction: row;

          i.calendar {
            height: auto;
            width: auto;
          }

          input[type=text] {
            margin: 0px 0px 0px 10px;
            flex: 1 1;
          }
        }

        .right-arrow, .left-arrow {
          flex: 0 0;
        }
      }

      &.opened{
        max-height: none;
      }
    }

    &.filtre-responsables {
      font-size: 14px;

      .fa {
        font-size: 16px;
      }

      &.opened {
        max-height: 500px;
      }

      i {
        margin: 10px 10px 10px 0px;
        display: inline;
      }
    }

    .plus-input::after {
      content: "\e823";
      position: absolute;
      top: -9px;
      right: 0px;
    }

    .accordions .toggle {
      height: auto;
      overflow-y: hidden;
      padding: 0px 10px;
    }

    &.opened {
      height: 5%;
      max-height: 350px;

      .plus-input::after {
        content: "\e841";
      }
    }

    > h4 {
      margin: 0 0 10px 0;
      padding: 0;
      font-weight: 300;
      position: relative;
      line-height: 23px;
    }

    .selectable-list {
      max-height: 200px;
      overflow-y: scroll;
      margin: 0;

      li {
        font-size: 12px;
        padding: 2px;
      }
    }

    > .filter__input--icon {
      position: relative;

      &:after {
        content: "\e8d0";
        font-family: "generic-icons";
        position: absolute;
        top: 0;
        right: 10px;
        color: #888;
      }
      > input[type="text"] {
        width: 100%;
      }
    }
    .filtre__toolbar {
      padding: 3px 0 0 0;

      .filtre__toolbar__button {
        width: 30px;
        height: 25px;
        margin-right: 10px;
        padding: 0 !important;
        float: none;
        display: inline-block;

        &.select {
          background-image: url(/public/img/glyphicons-halflings-white.png);
          background-position: 14.5% 68%;
          background-repeat: no-repeat;
        }
        &.deselect {
          margin-left: 10px;
          background-image: url(/public/img/glyphicons-halflings-white.png);
          background-position: 9% 68%;
          background-repeat: no-repeat;
        }
      }
    }
  }
  /**
    $CPE-ABSENCES-SANS-MOTIFS
  **/
  .abscSM-content {
    @include transition(all 0.2s ease);

    .abscSM-content--student-search-input, .abscSM-content--SM-list {
      margin: 0 0 0 4%;
    }

    .abscSM-content--student-search-input {
      padding: 10px;
      background: $white;
      border: solid 1px rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;
    }

    .abscSM-content--SMSelectable-list {
      width: 200px !important;
      margin-left: 4%;

      li {
        text-align: center;

        > i.fa {
          margin-right: 10px;
        }
      }
    }

    .abscSM-content--SM-list {
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);

      .abscSM-content--SM-list--header {
        background-color: $primary;
        padding: 5px 0;

        div {
          text-transform: capitalize;
          display: inline-block !important;
          float: none;
          color: $white;

          .fa {
            font-size: 12px;
          }
        }
      }
      .abscSM-content--SM-list--item {
        @include transition(all 0.4ms ease);
        //text-align: center;

        &:nth-child(even) {

          > .abscSM-content--SM-list--item--eleve {
            background-color: $light-grey !important;
          }

          > .abscSM-content--SM-list--item--subevents {

            > div {
              background-color: $white;

              &:nth-child(even) {
                background-color: $light-grey;
              }
            }
          }
        }

        > .abscSM-content--SM-list--item--eleve {
          border-left: solid 1px $light-grey !important;
          border-right: solid 1px $light-grey;
          border-top: solid 1px $light-grey;
          background-color: $white;

          .expand {
            font-size: 30px;
            color: $grey;
            font-weight: 400;
            opacity: 0.8;
            border: none;
            background-color: inherit;
            left: 40px;
            &:hover {
              color: $cyan;
            }
          }

          &.displayed {
            border-bottom: solid 1px $light-grey;
          }

          div {

            &:last-child {
              text-align: center;

              button {
                display: inline-block;
                float: none !important;
              }
            }
          }

        }

        > .abscSM-content--SM-list--item--eleve, > .abscSM-content--SM-list--item--subevents {
          text-align: left !important;
          padding: 0 !important;
        }

        > .abscSM-content--SM-list--item--subevents {
          margin: 0px calc(100% / 12);
          //le "calc(100%/12)" permet d'avoir un margin équivalent à gauche et à droite correspondant à une cellule
          display: none !important;

          &.displayed {
            display: inline-block !important;
          }

          > div {
            border-left: solid 1px $light-grey !important;
            border-right: solid 1px $light-grey;
            border-bottom: solid 1px $light-grey;
            background-color: $white;

            &:last-child {
              border-bottom: solid 1px transparent;
            }

            &:nth-child(even) {
              background-color: $light-grey;
            }
          }

        }

        //> .abscSM-content--SM-list--item--subevents{
        //  border-left: solid 1px $grey;
        //  border-bottom: solid 1px $grey;
        //  border-right: solid 1px $grey;
        //}

        .cell {
          float: none;
          display: inline-block;
          padding: 5px 0;
          font-size: 13px;
          border-left: none;
          text-indent: 5px;
          vertical-align: middle;

          select {
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  .header-nav__date-pickers {
    > label:nth-child(1), > label:nth-child(3) {
      margin-right: 10px;
    }
  }

  /**
    $SELECT
  **/
  .select-input {
    position: relative;
    height: 38px;
    display: block;
    overflow: inherit;

    select {
      border: solid 1px rgba(0, 0, 0, 0.3) !important;
      background: #fff !important;
      width: 100% !important;
      outline: none !important;
      padding: 8px 15px 8px 5px;
      height: 35px !important;
      color: #444;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    &:after {
      content: "\e841";
      font-family: 'generic-icons';
      position: absolute;
      right: 5px;
      top: 5px;
      padding: 2px 10px;
      background: #29b2e6;
      color: #fff;
      pointer-events: none;
      border-radius: 2px;
      font-size: 9px;
      text-align: center;
      height: 22px;
      vertical-align: middle;
      text-indent: -2px;
      width: 15px;
    }
  }

  .appel__container-icon {
    text-align: center;
  }
  div.header-nav-date{
    margin-right: 10.5%;}
  .appel_absc_last {
    color: $red;
  }
  .divider {
    position: absolute;
    left: 50%;
    top: 10%;
    bottom: 10%;
    border-left: 1px solid #b7b6b9;
    > h2 {
      position: relative;
      right: 9.5%;
      top: 33%;
    }
  }
  .selection-head-saisie-abs {
    position: relative;
    left: 5%;
    margin-top: 6.5%;
    margin-bottom: 4.5%;
  }
  .calender-saisie_abs_cpe {

    position: relative;
    > h1 {

    }
    @media screen and (max-device-width: 670px){
      >div{
        width :300px;
      }
    }
    > div {
      float: none;
      margin-left: auto;
      margin-right: auto;
      max-width: 670px;
      min-width: 300px;
      > div {
        left:2%;
        position: relative;
        float: left;
        margin: 0% 1% 0% 0%;
      }
      > button {
        left:2%;
        position: relative;
        float: left;
        margin: 0% 1% 0% 0%;
      }
    }
  }
  .header-saisie-abs-cpe {
    border-radius: 20px 20px 20px 20px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    margin-left: 2%;
  }
  .head-of-body-saisie-abs-cpe{
    height: 220px;
    background: #ffffff;
    border-bottom: solid 1px $light-grey;;
    > div {
      > h2 {
        text-align: left !important;
      }

    }
  }
  .body-saisie-abs-cpe {


    border-radius: 20px 20px 20px 20px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    margin-top: 1%;
    text-align: center;
    margin-left: 2%;

  }
  .search-card {
    position: relative;
    margin-left: 1.5%;
    float: left;
    margin-top: 5.5%;
    margin-bottom: 4%;
    &::after {
      content: ' ';
      position: absolute;
      top: 0;
      width: 2px;
      height: 100%;
      margin-left: 13%;
      background-color: #cac8c8;
    }
  }
  .label {
    text-align: center !important;
  }
  .timeline-story .event-row {

    .date-label {
      text-align: left;
      line-height: 54px;
      height: 54px;
    }
    .date-label-NotEnd{
      text-align: right;
      line-height: 54px;
      height: 54px;
    }
  }
  .container-line{
    padding-left: 8%;
    >article{
      border-radius: 10px;
      text-align: left;
    }
  }
  //.timeline-story::before{
  //  left: 50%!important;
  //
  //}
  .now{
    margin-bottom: 1%;
    background: white;
    margin-top: -2%;
  }
  .expanded{
    max-height: 184px !important;
  }
  .isAbs{
    background: rgba(255, 0, 12, 0.3);
  }
  .greyed {
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%);
  }
  .centre-element{
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .round{
    &.green{
      background: green;
    }
    &.blue{
      background: blue;
    }
    &.purple{
      background: purple;
    }
    &.grey {
      background: grey;
    }
  }
  i.moins{
    ::after{
      content:  '-' !important;
      font-size: xx-large !important;
    }
  }
  i.alerte::after{
    color: red;
    font-weight: bold;
  }
  .timeline-story .event-row .event-description {
    max-height: 62px ;
  }
  article.isAbsPrev{
    background: #e0e0e0;
  }
  .horizontal-spacing {
    padding-top: 8px !important;
  }
  div.evenement-detail{
    padding-right: 2%;
    margin-left: 2%;
    &::after{
      content: ' ';
      position: absolute;
      top: 0;
      width: 1px;
      height: 100%;
      margin-left: 98%;
      background-color: #cac8c8;
    }
  }
  li.chip {
    background: #ccc ;
    color: #fff !important;
    border: #ccc !important;
    &.with-icone {
      padding-left: 5%;
    }
    &.selected {
      background: #FF8500 !important;
      border: #FF8500 !important;
    }
  }

  /**
    $Personnels
  **/
  .saisi-absc  .round-avatar {
    height: 100%;
    width: 100%;
    margin:0;
    text-align: center !important;
    opacity: 0.8 !important;

    img {
      height: 60px;
      width: 60px;
      object-fit: cover;
      border-radius: 50% !important;
      border: 1px solid $medium-grey !important;
    }

    span {
      display: none;
    }
  }

  .page-saisie-appel .round-avatar {
    height: 100%;
    width: 100%;
    margin:0;
    text-align: center !important;
    opacity: 0.8 !important;

    img {
      max-height: 60px;
      max-width: 60px;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50% !important;
      border: 1px solid $medium-grey !important;
    }

    span {
      display: none;
    }
  }

  /**
    $PARENT-ABSENCES
  **/
  .round-avatar {
    height: 120px;
    width: 100px;
    margin: 0 10px;
    text-align: center !important;
    opacity: 0.8 !important;

    img {
      height: 100px;
      width: 100px;
      object-fit: cover;
      border-radius: 50% !important;
      border: 1px solid $medium-grey !important;
    }

    span {
      color: $grey !important;
      font-weight: bold !important;
      text-align: center !important;
    }
  }

  .absc_parent {

    .titre-widget {
      text-align: center;
    }

    i.sort-desc, i.sort-asc {
      color: $white;
    }

    .content-box-accueil--table--header {
      box-sizing: border-box;
      padding: 10px;

      h5 {
        display: inline-block;
        margin: 0;
      }
    }

    .content-list {
      margin: 0 0 0 4%;
      @include box-shadow(0px 1px 1px rgba(0, 0, 0, 0.4));

      .row {
        overflow: hidden;
        padding: 5px 0;
        display: block;

        & > div {
          display: inline-block;
        }
      }

      .header {
        background-color: $primary;
        text-transform: capitalize;
        color: $white;
      }

      .body {

        .item {

          .center-content {
            text-align: center;
          }

          &:nth-child(even) {
            background-color: $light-grey;
          }

          .expand > div {
            width: 100%;
            font-size: 30px;
            color: $grey;
            font-weight: 400;
            opacity: 0.8;
            border: none;
            background-color: inherit;
            text-align: center;

            &:hover {
              color: $cyan;
            }
          }
        }

        .item-expand {
          overflow: hidden;
          transition : max-height 1s ease, padding 1s ease;

          & > div {
            margin: auto;
            float: none;
            display: block;
            padding: 15px;
            background-color: $primary-lighter;
            @include box-shadow(0px 1px 1px rgba(0, 0, 0, 0.4));
          }

          &:not(.expand) {
            max-height: 0px;
            padding: 0;
          }

          &.expand {
            max-height: 500px;
          }
        }
      }
    }

    i.cancel::before {
      color: $red;
    }

    i.obligatoire  {
      margin: 0;
      padding: 0;
    }

    .display-children {
      height: 150px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      overflow-x: auto;
      box-sizing: border-box;

      & > div {
        flex: 0 0 auto;
        opacity: 0.5 !important;
        transform: scale(0.85);
        @include transition(all 0.4s ease);

        &:hover {
          opacity: 0.8 !important;
          transform: scale(0.9);
        }

        &.selected {
          opacity: 1 !important;
          transform: scale(1);
        }
      }

      @media screen and (max-width: 800px), screen and (max-height: 800px) {
        height: 100px;

        .round-avatar {
          height: 80px;
          width: 60px;

          img {
            width: 60px;
            height: 60px;
          }
        }
      }
    }

    .saisie_declaration {
      textarea {
        resize: none !important;
        box-sizing: border-box;
      }

      .select_date_hours {
        padding: 10px;
      }

      .round-avatar {
        position: absolute;
        top: 10px;
        right: 10px;
      }

      .row + .row {
        margin-top: 15px;
      }

      .content {
        min-height: 0;
      }
    }
  }

  .detail_declaration {

    .content {
      min-height: 0;
    }

    table {
      width: 100%;
      margin-bottom: 0;

      tr {
        border: 0;

        &:hover {
          background: none;
        }
      }

      td:first-child {
        width: 40%;
      }

      td {
        vertical-align: text-bottom;
        height: 50px;
        padding: 0;
      }

      h2 {
        margin: 0;
      }
    }

    .commentaire_detail_decl{
      font-size: 14px;
      padding-right: 20px;
      word-break: break-all;
      max-height: 200px;
      overflow-y: auto;
    }
  }
  .saisi-absc{
    display: flex;
    .left-side{
      width: 20%;
      .card{
        padding: 3.5%;
      }
    }
    .right-side{
      width: 79%;
      position: absolute;
      right: 0% !important;
      .card{
        padding: 10px;
      }
      .date-picker-icon{
        visibility: hidden;
      }
      .calendar-current-week {
        position: absolute;
        top: -53px;
      }
      .footer-creneau {
        padding: 10px;
        border-top: 2px solid #c7c7c7;
        margin: -10px;
        box-sizing: unset;
        text-align: center;
      }
      .btn-rechercher {
        float: unset;
        margin: 0 auto;
        display: inline-block;
      }
      .num-conflit {
        font-size: 18px;
        color: #555;
        font-weight: bold;
        display:inline-block;
        margin-top: 10px;
      }
      filters{
        top: 18px;
        left: 2%;}
      .creneau{
        padding-right: 0.5%;
        .inline-child{
          >div{
            display: inline-block;
          }
        }
      }
      .motif{
        padding-left: 1%;
        border-left: 1px grey dashed;
      }
      div.calendardiv{
        .calendar-current-week{
          width: 98% !important;
        }
        margin-top: 0px;

      }
    }
  }

  .choose-date {
    width: 75px !important;
  }

  .last-absence-body-widget{
    font-size: 14px;
  }

  .last-absence{
    border-left: 10px solid #c0392b;
    outline: 2px solid black;
    margin: 2px;
  }

  .last-absence-prev{
    border-left: 10px solid #777;
    outline: 2px solid black;
    margin: 2px;
  }

  .panel-animation {
    max-height: 0px;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    transition: all 0.5s ease-in-out;
  }

  .panel-animation.opened {
    max-height: 1000px;
    overflow: auto;
  }

  .label-form {
    font-size: 16px;
    font-weight: bold;
  }

  .body-lightbox-last-absence{
    overflow-y:scroll;
    max-height: 500px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid grey;
  }

  .body-lightbox-conflit{
    overflow-y:scroll;
    max-height: 500px;
    padding: 10px;
    border: 2px solid grey;
  }

  .margin-bot-sm {
    margin-bottom: 5px;
  }

  .margin-bot-md {
    margin-bottom: 10px;
  }

  .margin-left-md {
    margin-left: 10px;
  }

  .remove-margin{
    margin: 0px;
  }

  .margin-top-sm {
    margin-top: 5px;
  }

  .padding-sm {
    padding: 5px;
  }

  .padding-bot-sm {
    padding-bottom: 5px;
  }

  .padding-left-sm {
    padding-left: 5px;
  }

  .padding-right-md {
    padding-right: 10px;
  }

  .first-letter-uppercase:first-letter {
    text-transform: uppercase;
  }
  .schedule-item-content{
    &.red{
      background: #ef7f8f !important;
      color: white !important;
    }
    &.grey{
      background: #ddd !important;
      color: black !important;
    }
    &.green{
      background: #46bfaf !important;
      color: white !important;
    }
  }

  .next-timeslots{
    margin: 0px;
  }
  .previous-timeslots{
    margin: 0px;
  }

  .tabs-view-conflit {
    text-align: right;
  }
  .tabs-view-conflit > header {
    border-bottom: 2px solid #eee;
  }

  .tabs-view-conflit > header.selected {
    background: #fff;
    border-bottom: 2px solid #FF8500;
  }

  .warning-icon:before {
    content: "\e903";
    font-size: 26px;
    color: #c2550c;
  }

  .loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #78daff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    display: inline-block;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .timeline-story:before {
    left: 50%;
    margin-left: -2.5px;
  }
  .timeline-story .event-row .timeline-badge {
    left: 50%;
    height: 54px;
    margin-left: -11px;
  }

  .timeline-story .timeline-cours-panel{
    width: 45%;
    font-size: 14px;
    padding:10px !important;
    margin: 0px;
  }

  .timeline-story .cours-has-absence {
    background-color: #ffd7d7;
  }

  .timeline-story .cours-futur {
    background-color: lightgrey;
  }

  .timeline-story .timeline-section-title {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .timeline > li > .timeline-section-title {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }

  .timeline-story .timeline-section-title > span {
    top: 2px;
    position: relative;
    padding:4px;
    background-color:#777;
    color:#fff;
    border-radius: 6px;
  }

  .timeline-story .event-row .timeline-badge .round {
    position: absolute;
    left: 50%;
    top: 65%;
    margin-top: -10px;
  }

  .timeline-story .event-row {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @media (max-width: $tablette) {
    .timeline-story {
      .timeline-cours-panel{
        float:right;
        width: 90%;
      }

      &:before {
        left: 5%;
        margin-left: -2.5px;
      }

      .event-row .timeline-badge {
        left: 3.8%;
        height: 54px;
        margin-left: -2px;
      }
    }
  }

  .timeline-help-button {
    left: 10px;
    position: absolute;
    width: 300px;
    z-index: 999;
    color: rgba(0, 0, 0, 0.50);
  }

  .lightbox-sm > section > div.content{
    width: 500px;
  }

  .timeline-help-bulle {
    padding: 5px;
    border-radius: 5px;
    left: 25px;
    position: absolute;
    width: 300px;
    z-index: 999;
    background: #fff;
    box-shadow: 0 2px 7px rgba(0,0,0,0.60);
    font-size: 14px;
  }

  .timeline-message-bot {
    font-size: 14px;
    color: #555;
    top: -2px;
    position: relative;
    padding: 2px;
    border: 2px solid grey;
    text-align: center;
  }

  .timeline-help-bloc-color {
    position: relative;
    top: 4px;
  }

  .background-color-lightgrey {
    background-color: lightgrey;
  }

  .background-color-lightred {
    background-color: #ffd7d7;;
  }

  .timeline-help-warning {
    position: relative;
    margin-left: 7px;
    margin-right: 7px;
    top: 3px;
  }

  .calendar-help-button {
    font-size: 16px;
    position: absolute;
    float: left;
    left: 120px;
    top: 47px;
    z-index: 999;
  }

  .display-inline-block {
    display:inline-block;
  }

  .text-center {
    text-align: center;
  }

  .background-color-grey-absc-prev {
    background-color: #777;
  }

  .background-color-red-absc {
    background-color: #c0392b;
  }

  .background-color-red-cours{
    background: #ef7f8f;
  }

  .background-color-grey-cours-futur{
    background: #ddd;
  }

  .background-color-green-absc-prev{
    background: #46bfaf;
  }

  div.box1:hover a {
    display:block;
  }
  div.box1:before{
    content:'';
    background: #000;
    position:absolute;
    left: 0;
    top: 0;
    bottom:0;
    right:0;
    z-index: 999;
    width: 100%;
    height: 100%;
    transition:0.4s;
    opacity:0;
  }
  div.box1:hover:before{
    opacity:0.75;
  }

  div.box2:hover a {
    display:block;
  }
  div.box2:before{
    content:'';
    background: deepskyblue;
    position:absolute;
    left: 0;
    top: 0;
    bottom:0;
    right:0;
    z-index: 999;
    width: 100%;
    height: 100%;
    transition:0.4s;
    opacity:0.3;
  }
  div.box2:hover:before{
    opacity:0.30;
  }
}