<header>
    <div class="header-nav">
        <div class="header-nav__fil-ariane">
            <div ng-class="{opened : display.menu}" class="burger-icon" ng-click="display.menu = !display.menu">
                <span class="burger-icon-bar"></span>
                <span></span>
                <span class="burger-icon-bar"></span>
            </div>
            <div>
                <a href="/viescolaire/presences#/"><i18n>viescolaire.viescolaire.title</i18n></a> > <i18n>viescolaire.presences.title</i18n></span>
            </div>
        </div>
    </div>
</header>