<div ng-controller="AbscAppelController">
    <div class=" twelve cell">
        <header class="header-viescolaire">
            <label ng-if="structures.all.length > 1" class="select right-magnet">
                <select ng-model="structure" ng-options="structure.name for structure in structures.all
                            track by structure.id" ng-change="changeStructure(structure)">
                </select>
            </label>
        </header>
    </div>

    <div class="twelve cell header-nav__fil-ariane-appel">
        <div class="two cell">
            <a href="/viescolaire/presences#/">
                <i18n>viescolaire.viescolaire.title</i18n></a> > <i18n>viescolaire.presences.title</i18n></span>
        </div>

        <div class="seven cell">
            <div ng-if="showSuccess" class="info appel__info">[[messageSuccess]]</div>

            <div ng-if="showError" class="warning appel__info">
                <i18n>viescolaire.absences.appel.verrouille</i18n>
            </div>
        </div>

        <div class="two cell right-magnet">
        <button ng-disabled="(currentCours !== undefined && currentCours.appel.id_etat === 3) || !isEditable()"
                ng-show="currentCours !== undefined" class="button right-magnet" ng-click="terminerAppel();">
            <i18n>viescolaire.absences.appel.button.enregistrer</i18n>
        </button>
        </div>
    </div>

    <div class="two cell">
        <container template="AbscFiltreAppel"></container>
    </div>

    <div class="nine cell pannel-in-cell" ng-class="{greyed: currentCours != null && !isEditable()}" ng-show="appel.display">
        <div class="list-view-cgi__header">
            <div class="one cell">
                &nbsp;
            </div>
            <div class="four cell">
                <i18n>viescolaire.absences.eleves</i18n>
            </div>
            <div class="two cell">
                <i class="help" ng-click="show.lightbox = true"></i>
            </div>
            <div class="five cell">
                <i18n>viescolaire.absences.historique</i18n>
            </div>
        </div>

        <div class="one cell cell-indent">
            <div ng-if="currentCours.classesOfGroup !== undefined">
                <i tooltip="viescolaire.absences.vue.eleves" class="show-vue-eleves" ng-class="{ selected: !bClassesVue }" ng-click="showVueClasses(false)"></i>
                <i tooltip="viescolaire.absences.vue.classes" class="show-vue-classes" ng-class="{ selected: bClassesVue }" ng-click="showVueClasses(true)"></i>
            </div>
        </div>
        <div class="six cell cell-indent">
            <div class="appel_eleves-presents"><i18n>viescolaire.absences.nb.presents</i18n> : [[appel.piPresents]] / [[appel.piTotal]]</div>
        </div>
        <div class="five cell cell-indent right-magnet ">
            <div ng-repeat="plage in structure.plages.all"
                 ng-style="plage.style"
                 class="appel__historiques-creneau-plage">
                [[plage.heure]]
            </div>
        </div>

        <!-- Affichage par classe lorsqu'on est sur un groupe d'enseignement -->
        <div ng-if="currentCours.classesOfGroup !== undefined" ng-show="bClassesVue">
            <div ng-repeat="group in currentCours.classesOfGroup">
                <br>
                <h2>Classe : [[group.name]]</h2>
                <div class="list-view-cgi__grille">
                    <div class="twelve cell" ng-repeat="eleve in group.eleves | orderBy:'lastName'">
                        <container template="AbscEleve"></container>
                    </div>
                </div>
            </div>
        </div>

        <!-- Affichage de la liste des élèves classique, si on est sur une classe ou un groupe d'enseignement comportant -->
        <!-- que des élèves d'une classe -->
        <div class="list-view-cgi__grille" ng-show="!bClassesVue">
            <div class="twelve cell" ng-repeat="eleve in currentCours.classe.eleves.all">
                <container template="AbscEleve"></container>
            </div>
        </div>
    </div>
    <container template="AbscEleveDetail"></container>
    <lightbox show="show.lightbox" on-close="show.lightbox=false">
        <container template="AbscEleveAide"></container>
    </lightbox>
</div>

