<div class="row" ng-controller="AbscAbssmPersonnelController">
    <container template="AbscFiltres" class="cell" ng-class="{two : !display.menu, three : display.menu}"></container>
    <div ng-class="{nine : display.menu, ten : !display.menu}" class="cell abscSM-content">
        <div class="abscSM-content--student-search-input ten cell">
            <input type="text" class="twelve cell" ng-model="poRecherche.nom" placeholder="Rechercher un élève">
        </div>
        <ul class="selectable-list abscSM-content--SMSelectable-list">
            <li ng-click="pOFilterAbsences.sansmotifs = !pOFilterAbsences.sansmotifs"
                ng-class="{ selected : pOFilterAbsences.sansmotifs }"><i class="fa fa-exclamation-circle"></i>
                <i18n>viescolaire.absences.ariane.AbsencesSansMotifs</i18n>
            </li>
        </ul>
        <div class="list-view-cgi" bottom-scroll="pOFilterAbsences.limitTo = pOFilterAbsences.limitTo + 10">
            <div class="ten cell abscSM-content--SM-list panel-in-cell">
                <div sticky offset="65" class="abscSM-content--SM-list--header">
                    <div class="cell cell-indent three"
                         ng-click="pOSortParameters.sortType = 'eleve_nom'; pOSortParameters.sortReverse = !pOSortParameters.sortReverse">
                        <i18n>viescolaire.utils.student</i18n>
                        <i class="fa fa-caret-down"
                           ng-show="pOSortParameters.sortType == 'eleve_nom' && !pOSortParameters.sortReverse"></i>
                        <i class="fa fa-caret-up"
                           ng-show="pOSortParameters.sortType == 'eleve_nom' && pOSortParameters.sortReverse"></i>
                    </div>
                    <div class="cell cell-indent three"
                         ng-click="pOSortParameters.sortType = 'cours_date'; pOSortParameters.sortReverse = !pOSortParameters.sortReverse">
                        <i18n>viescolaire.utils.date</i18n>
                        <i class="fa fa-caret-down"
                           ng-show="pOSortParameters.sortType == 'cours_date' && !pOSortParameters.sortReverse"></i>
                        <i class="fa fa-caret-up"
                           ng-show="pOSortParameters.sortType == 'cours_date' && pOSortParameters.sortReverse"></i>
                    </div>
                    <div class="cell cell-indent four">
                        <i18n>viescolaire.utils.reason</i18n>
                    </div>
                </div>
                <div class="abscSM-content--SM-list--list panel-in-cell">
                    <div class="abscSM-content--SM-list--item cell-indent"
                         ng-repeat="eleve in absences.all| filter:absencesFilter|filter:poRecherche.nom| orderBy:pOSortParameters.sortType:pOSortParameters.sortReverse|limitTo:pOFilterAbsences.limitTo" ng-init="initList(eleve);">
                        <div class="abscSM-content--SM-list--item--eleve" ng-class="{displayed : eleve.displayed}">
                            <div class="three cell ellipsis">[[eleve.eleve_nom]] [[eleve.eleve_prenom]]</div>
                            <div class="three cell ellipsis">[[eleve.cours_date]]</div>
                            <div class="four cell">
                                <label class="select-input">
                                    <select ng-change="setEvtMotifEleve(eleve)" ng-model="eleve.motif"
                                            class="twelve"
                                            ng-options="motif as motif.motif_libelle group by motif.motif_justifiant_libelle for motif in motifs.all track by motif.motif_id"></select>
                                </label>
                            </div>
                            <div class="cell one">
                                <button ng-click="displayList(eleve)"><span ng-if="eleve.displayed == true">-</span><span ng-if="eleve.displayed == false">+</span></button>
                            </div>
                        </div>
                        <div class="abscSM-content--SM-list--item--subevents ten cell" ng-class="{displayed : eleve.displayed}">
                            <div ng-repeat="evt in eleve.evenements|filter:absencesNonJustifieesFilter">
                                <div class="two cell">[[getPeriodeCours(evt)]]</div>
                                <div class="three cell">[[getEnseignantNom(evt)]]</div>
                                <div class="three cell">[[evt.cours_matiere]]</div>
                                <div class="three cell">
                                    <label class="select-input">
                                        <select ng-model="evt.motif" class="twelve" ng-init="initEleveSelect(eleve)" ng-change="updateEvtMotif(evt)"
                                                ng-options="motif as motif.motif_libelle group by motif.motif_justifiant_libelle for motif in motifs.all track by motif.motif_id"></select>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>