<container template="lightbox_declaration"></container>
<row>
    <div class="six cell zero-mobile">
        &nbsp
    </div>
    <div class="six cell twelve-mobile">
        <button class="marginFive right-magnet acu_button" ng-click="openLightBoxDeclaration()">Déclarer</button>
    </div>
</row>
<section>
    <div class="six cell twelve-mobile">
        <article class="box-accueil">
            <div class="content-box-accueil">
                <div class="titre-widget">
                    <h2 class="inline-block">
                        <i18n>presences.parent.widgetAbsc</i18n>
                    </h2>
                </div>
                <div class="content-box-accueil--table">
                    <div class="content-box-accueil--table--header row">
                        <div class="three cell seven-mobile"
                             ng-click="pOSortParameters.sortType = 'cours.timestamp_dt';
                             pOSortParameters.sortReverse = !pOSortParameters.sortReverse">
                            <i class="sort-desc"
                               ng-show="pOSortParameters.sortType == 'cours.timestamp_dt'
                               && !pOSortParameters.sortReverse"></i>
                            <i class="sort-asc"
                               ng-show="pOSortParameters.sortType == 'cours.timestamp_dt'
                               && pOSortParameters.sortReverse"></i>
                            <h5>
                                <i18n>date</i18n>
                            </h5>
                        </div>
                        <div class="three cell zero-mobile"
                             ng-click="pOSortParameters.sortType = 'enseignant.lastName';
                             pOSortParameters.sortReverse = !pOSortParameters.sortReverse">
                            <i class="sort-desc"
                               ng-show="pOSortParameters.sortType == 'enseignant.lastName'
                               && !pOSortParameters.sortReverse"></i>
                            <i class="sort-asc"
                               ng-show="pOSortParameters.sortType == 'enseignant.lastName'
                               && pOSortParameters.sortReverse"></i>
                            <h5>
                                <i18n>viescolaire.utils.teacher</i18n>
                            </h5>
                        </div>
                        <div class="three cell four-mobile"
                             ng-click="pOSortParameters.sortType = 'cours.matiere';
                             pOSortParameters.sortReverse = !pOSortParameters.sortReverse">
                            <i class="sort-desc"
                               ng-show="pOSortParameters.sortType == 'cours.matiere'
                               && !pOSortParameters.sortReverse"></i>
                            <i class="sort-asc"
                               ng-show="pOSortParameters.sortType == 'cours.matiere'
                               && pOSortParameters.sortReverse"></i>
                            <h5>
                                <i18n>viescolaire.utils.subject</i18n>
                            </h5>
                        </div>
                        <div class="one cell one-mobile">
                            <h5>
                                <i18n>viescolaire.absences.justifee</i18n>
                            </h5>
                        </div>
                    </div>
                    <div class="content-box-accueil--table--content">
                        <div ng-repeat="event in evenements | filter:{'id_type':'1'} | orderBy:pOSortParameters.sortType:pOSortParameters.sortReverse"
                             class="row">
                            <div class="five cell seven-mobile cell-indent">
                                [[ formatDate(event.cours.timestamp_dt, event.cours.timestamp_fn) ]]
                            </div>
                            <div class="three cell zero-mobile">
                                [[ event.enseignant.lastName ]]
                            </div>
                            <div class="three cell four-mobile">
                                [[ event.matiere.name ]]
                            </div>
                            <div class="one cell one-mobile">
                                <i ng-if="event.id_motif == 8" class="cancel"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="six cell twelve-mobile">
        <article class="box-accueil">
            <div class="content-box-accueil">
                <div class="titre-widget">
                    <h2 class="inline-block">
                        <i18n>presences.declaration</i18n>
                    </h2>
                </div>
                <div class="content-box-accueil--table">
                    <div class="content-box-accueil--table--header row">
                        <div class="three cell"
                             ng-click="pOSortParameters.sortType = 'declaration.timestamp_creation';
                             pOSortParameters.sortReverse = !pOSortParameters.sortReverse">
                            <i class="sort-desc"
                               ng-show="pOSortParameters.sortType == 'declaration.timestamp_creation'
                               && !pOSortParameters.sortReverse"></i>
                            <i class="sort-asc"
                               ng-show="pOSortParameters.sortType == 'declaration.timestamp_creation'
                               && pOSortParameters.sortReverse"></i>
                            <h5>
                                <i18n>presences.declaration.titre</i18n>
                            </h5>
                        </div>
                        <div class="three cell" ng-click="pOSortParameters.sortType = 'declaration.created';
                             pOSortParameters.sortReverse = !pOSortParameters.sortReverse">
                            <i class="sort-desc"
                               ng-show="pOSortParameters.sortType == 'declaration.created'
                               && !pOSortParameters.sortReverse"></i>
                            <i class="sort-asc"
                               ng-show="pOSortParameters.sortType == 'declaration.created'
                               && pOSortParameters.sortReverse"></i>
                            <h5>
                                <i18n>presences.declaration.creation</i18n>
                            </h5>
                        </div>
                        <div class="five cell">
                            <h5>
                                <i18n>presences.declaration.periode</i18n>
                            </h5>
                        </div>
                        <div class="one cell"
                             ng-click="pOSortParameters.sortType = 'declaration.traitee';
                             pOSortParameters.sortReverse = !pOSortParameters.sortReverse">
                            <i class="sort-desc"
                               ng-show="pOSortParameters.sortType == 'declaration.traitee'
                               && !pOSortParameters.sortReverse"></i>
                            <i class="sort-asc"
                               ng-show="pOSortParameters.sortType == 'declaration.traitee'
                               && pOSortParameters.sortReverse"></i>

                            <h5>
                                <i18n>presences.declaration.etat</i18n>
                            </h5>
                        </div>
                    </div>
                    <div class="cell-indent content-box-accueil--table--content">
                        <div ng-repeat="decl in declarations | orderBy:pOSortParameters.sortType:pOSortParameters.sortReverse | limitTo:10"
                             ng-click="openLightBoxDeclaration(decl)"
                             class="row">
                            <div class="three cell ellipsis">
                                [[ decl.titre ]]
                            </div>
                            <div class="three cell ellipsis">
                                [[ formatDate(decl.created) ]]
                            </div>
                            <div class="five cell ellipsis">
                                [[ formatDate(decl.timestamp_dt, decl.timestamp_fn) ]]
                            </div>
                            <div class="one cell">
                                <i ng-show="!decl.traitee" class="cancel"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>