<div class="row" ng-controller="VscoAppoPersonnelController">
    <container template="AbscFiltres" class="two cell" ng-class="{two : !display.menu, three : display.menu}"></container>
    <div ng-class="{nine : display.menu, ten : !display.menu}" class="cell abscSM-content">
        <div class="abscSM-content--student-search-input ten cell">
            <input type="text" class="twelve cell" ng-model="poRecherche.nom" placeholder="Rechercher un enseignant">
        </div>
        <ul class="selectable-list abscSM-content--SMSelectable-list">
            <li ng-click="pOFilterAppel.noneffectues = !pOFilterAppel.noneffectues; applyAppelFilter()" ng-class="{ selected : pOFilterAppel.noneffectues }"><i class="fa fa-exclamation-circle"></i><i18n>viescolaire.absences.ariane.AppelsOublies</i18n></li>
        </ul>
        <div class="list-view-cgi">
            <div class="ten cell abscSM-content--SM-list panel-in-cell">
                <div sticky offset="65" class="abscSM-content--SM-list--header">
                    <div class="cell cell-indent one"></div>
                    <div class="cell cell-indent two" ng-click="pOSortParameters.sortType = 'personnel_nom'; pOSortParameters.sortReverse = !pOSortParameters.sortReverse"><i18n>viescolaire.utils.enseignant</i18n>
                        <i class="fa fa-caret-down" ng-show="pOSortParameters.sortType == 'personnel_nom' && !pOSortParameters.sortReverse"></i>
                        <i class="fa fa-caret-up" ng-show="pOSortParameters.sortType == 'personnel_nom' && pOSortParameters.sortReverse"></i>
                    </div>
                    <div class="cell cell-indent two" ng-click="pOSortParameters.sortType = 'classe_libelle'; pOSortParameters.sortReverse = !pOSortParameters.sortReverse"><i18n>viescolaire.utils.classe</i18n> - <i18n>viescolaire.utils.groupe</i18n>
                        <i class="fa fa-caret-down" ng-show="pOSortParameters.sortType == 'classe_libelle' && !pOSortParameters.sortReverse"></i>
                        <i class="fa fa-caret-up" ng-show="pOSortParameters.sortType == 'classe_libelle' && pOSortParameters.sortReverse"></i>
                    </div>
                    <div class="cell cell-indent three" ng-click="pOSortParameters.sortType = 'cours_timestamp_dt'; pOSortParameters.sortReverse = !pOSortParameters.sortReverse"><i18n>viescolaire.utils.date</i18n> / <i18n>viescolaire.utils.heure</i18n>
                        <i class="fa fa-caret-down" ng-show="pOSortParameters.sortType == 'cours_timestamp_dt' && !pOSortParameters.sortReverse"></i>
                        <i class="fa fa-caret-up" ng-show="pOSortParameters.sortType == 'cours_timestamp_dt' && pOSortParameters.sortReverse"></i>
                    </div>
                    <div class="cell cell-indent three" ng-click="pOSortParameters.sortType = 'cours_matiere'; pOSortParameters.sortReverse = !pOSortParameters.sortReverse"><i18n>viescolaire.utils.matiere</i18n>
                        <i class="fa fa-caret-down" ng-show="pOSortParameters.sortType == 'cours_matiere' && !pOSortParameters.sortReverse"></i>
                        <i class="fa fa-caret-up" ng-show="pOSortParameters.sortType == 'cours_matiere' && pOSortParameters.sortReverse"></i>
                    </div>
                    <div style="display: none !important" class="cell cell-indent" style="display: none" ng-click="pOSortParameters.sortType = 'fk_etat_appel_id'; pOSortParameters.sortReverse = !pOSortParameters.sortReverse"><i class="fa fa-exclamation-circle"></i>
                        <i class="fa fa-caret-down" ng-show="pOSortParameters.sortType == 'fk_etat_appel_id' && !pOSortParameters.sortReverse"></i>
                        <i class="fa fa-caret-up" ng-show="pOSortParameters.sortType == 'fk_etat_appel_id' && pOSortParameters.sortReverse"></i>
                    </div>
                </div>
                <div class="abscSM-content--SM-list--list panel-in-cell">
                    <div class="abscSM-content--SM-list--item cell-indent" ng-repeat="appel in appels.all | filter:personnelFilter | filter : poRecherche.nom | filter:appelFilter | orderBy:pOSortParameters.sortType:pOSortParameters.sortReverse">
                        <div class="cell cell-indent one">
                            <label class="checkbox">
                                <input ng-disabled="appel.fk_etat_appel_id === 3" type="checkbox" ng-change="checkAppel(appel)" ng-init="appel.selected = false" ng-model="appel.selected" class="ng-pristine ng-valid">
                                <span></span>
                            </label>
                        </div>
                        <div class="cell cell-indent two">[[appel.personnel_nom]] [[appel.personnel_prenom]]</div>
                        <div class="cell cell-indent two">[[appel.classe_libelle]]</div>
                        <div class="cell cell-indent three">[[formatDate(appel.cours_timestamp_dt, appel.cours_timestamp_fn)]]</div>
                        <div class="cell cell-indent three">[[appel.cours_matiere]]</div>
                        <div class="cell cell-indent one" style="display: none">
                            <i class="fa fa-exclamation-circle" ng-if="appel.fk_etat_appel_id === null"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="toggle-buttons" ng-class="{ hide: selectedAppels.length == 0 }">
        <div class="toggle">
            <div class="row">
                <button class="cell"  ng-click="alert('Fonctionnalité bientôt disponible')"
                        ng-repeat="justificatif in justificatifs.all">
                    [[justificatif.justificatif_appel_libelle]]
                </button>
            </div>
        </div>
    </section>
</div>

