<div class="help">
    <h1><i18n>viescolaire.utils.help</i18n></h1>
    <h2><i18n>viescolaire.utils.iconography</i18n></h2>
    <ul>
        <li><i tooltip="Retard" class="clock appel__evenement-icon retard-color-icon" ></i> : <i18n>viescolaire.absences.retard</i18n></li>
        <li><i tooltip="Départ" class="clock appel__evenement-icon depart-color-icon" ></i> : <i18n>viescolaire.absences.depart</i18n></li>
        <li><span tooltip="Incident" class="appel__evenement-icon incident-color-icon" ><i class="warning"></i></span> : <i18n>viescolaire.absences.incident</i18n></li>
    </ul>

    <h2><i18n>viescolaire.utils.colours</i18n></h2>
    <ul>
        <li><div class="absence-color help--color-absences"></div> : <i18n>viescolaire.viescolaire.absences.sans.motif</i18n></li>
        <li><div class="retard-color help--color-absences"></div> : <i18n>viescolaire.absences.retard</i18n></li>
        <li><div class="depart-color help--color-absences"></div> : <i18n>viescolaire.absences.depart</i18n></li>
        <li><div class="absence-prev-color help--color-absences"></div> : <i18n>viescolaire.utils.absence.previsionnelle</i18n></li>
        <li><div class="incident-color help--color-absences"></div> : <i18n>viescolaire.absences.incident</i18n></li>
        <li><div class="commentaire-color help--color-absences"></div> : <i18n>viescolaire.viescolaire.observation</i18n></li>
        <li><span class="appel_absc_last"><i18n>viescolaire.absences.student</i18n></span> : <i18n>viescolaire.utils.absences.dernier.cours</i18n></li>
    </ul>
</div>