<div ng-controller="AbscFiltresPersonnelController">
    <div ng-if="structures.all.length > 1"
            class="filtre filtre-enseignants" ng-class="{opened : pOFilterCtrl.structures}">
        <h4 ng-click="pOFilterCtrl.structures = ! pOFilterCtrl.structures">
            <div class="ellipsis"><i18n>viescolaire.utils.school</i18n></div>
            <span class="plus-input"></span>
        </h4>
        <span class="filter__input--icon"><input type="text" ng-model="pORecherche.pSNomStructure" placeholder="Rechercher"></span>

        <ul class="selectable-list">
            <li ng-repeat="etab in structures.all | filter:pORecherche.pSNomStructure | orderBy : 'name'"
                ng-click="changeStructure(etab);"
                ng-class="{selected : etab.id === structure.id }">[[etab.name]]</li>
        </ul>
    </div>
    <div class="filtre filtre-enseignants" ng-class="{opened : pOFilterCtrl.enseignants}">
        <h4 ng-click="pOFilterCtrl.enseignants = !pOFilterCtrl.enseignants">
            <div class="ellipsis">Enseignants</div>
            <span class="plus-input"></span>
        </h4>
        <span class="filter__input--icon"><input type="text" ng-model="pORecherche.pSNomEnseignant" placeholder="Rechercher"></span>

        <label class="chip multiselect right-magnet margin-left">
            <span><i18n>viescolaire.utils.all.none</i18n></span>
            <input type="checkbox" ng-model="bSelectAllEnseignants" ng-change="switchAll(structure.enseignants)" ng-class="{ selected: bSelectAllEnseignants }"/>
        </label>
        <ul class="selectable-list">
            <li ng-repeat="enseignant in structure.enseignants.all | filter:pORecherche.pSNomEnseignant | orderBy : 'lastName'" ng-click="enseignant.selected = !enseignant.selected"
                ng-class="{selected : enseignant.selected}">[[enseignant.lastName]] [[enseignant.firstName]]</li>
        </ul>
    </div>
    <div class="filtre filtre-classes" ng-class="{opened : pOFilterCtrl.classes}">
        <h4 ng-click="pOFilterCtrl.classes = !pOFilterCtrl.classes">
            <div class="ellipsis">Classes</div>
            <span class="plus-input"></span>
        </h4>
        <span class="filter__input--icon"><input type="text" ng-model="pORecherche.pSNomClasse" placeholder="Rechercher"></span>
        <label class="chip multiselect right-magnet margin-left">
            <span><i18n>viescolaire.utils.all.none</i18n></span>
            <input type="checkbox" ng-model="bSelectAllEnseignants" ng-change="switchAll(structure.classes)" ng-class="{ selected: bSelectAllEnseignants }"/>
        </label>
        <ul class="selectable-list">
            <li ng-repeat="classe in structure.classes.all | filter:{name:pORecherche.pSNomClasse} | orderBy : 'name'" ng-click="classe.selected = !classe.selected"
                ng-class="{selected : classe.selected}">[[classe.name]]</li>
        </ul>
    </div>
    <div class="filtre filtre-responsables" ng-show="psDisplayResponsables" ng-class="{opened : pOFilterCtrl.responsables}">
        <h4 ng-click="pOFilterCtrl.responsables = !pOFilterCtrl.responsables"><div class="ellipsis">Informations
            responsables</div>
            <span class="plus-input"></span></h4>
        <div class="row accordions">
            <article class="accordion" ng-class="{opened: pOOpenedResponsable == responsable.id}" ng-repeat="responsable in pOResponsable">
                <h2 ng-click="openResponsable(responsable.id)">[[responsable.lastName]] [[responsable.firstName]]</h2>
                <div class="toggle">
                    <div class="content">
                        <span ng-if="responsable.homePhone"><i class="phone"></i>[[responsable.homePhone]]<br/></span>
                        <span ng-if="responsable.workPhone"><i class="phone"></i>[[responsable.workPhone]]<br/></span>
                        <span ng-repeat="mobilePhone in responsable.mobilePhone"><i class="phone"></i>[[mobilePhone]]<br/></span>
                        <span><i class="home"></i>[[responsable.address]], [[responsable.zipCode]] [[responsable.city]]</span>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
