<div class="ten centered twelve-mobile"  >
    <div class="timeline-story vertical-spacing row " ng-if="selected.eleve.cours.length > 0">
        <div ng-repeat="cours in selected.eleve.cours track by $index" class="twelve cell event-row container-line" >
            <div class= "eleven cell now" ng-if="verifierCoursPrev($index)" >
                [[getNowDate()]]
            </div>
            <article class="horizontal-spacing cell five eleven-mobile event-description "

                     ng-init="cours.expanded = false"
                     ng-class="{expanded: cours.expanded , isAbs: cours.isAbsent}"
                     ng-if="cours.etatcours==='END'"
                     preview>
                <div class=>
                    <em class="metadata">
                        [[formatDate(cours.timestamp_dt,cours.timestamp_fn)]]
                    </em>
                </div>
                <div class="row  ">
                    <div class="eleven cell" ng-if="!cours.isAbsent && cours.edt_matiere!== undefined && cours.id_matiere!== null "> [[getMatiere(cours.id_matiere)]] </div>
                    <div class="eleven cell" ng-if="cours.isAbsent && cours.id_matiere!== undefined && cours.id_matiere!== null ">[[getMatiere(cours.id_matiere)]] - Motif : [[cours.evenement.motifs.libelle]]</div>
                    <a class="right-magnet"
                       ng-click="cours.expanded = !cours.expanded"
                       ng-if="cours.evenement!==undefined && cours.isAbsent!== true "
                       tooltip="[[cours.evenement.libelle]]"  >
                        <i ng-class="{moins: cours.expanded }" class="plus"></i>
                    </a>
                    <a class="right-magnet"
                       ng-if="cours.isAbsent"
                       tooltip="Attention motif diffèrent"  >
                        <i ng-if="cours.diffMotif" class="alerte"></i>
                    </a>
                </div>
                <div class="vertical-spacing eleven centered" ng-if="cours.evenement!==undefined">
                    <div class="twelve cell"  ng-repeat="event in cours.evenement ">
                        <div class="cell ellipsis"> [[event.libelle]]</div>
                        <div class="cell ellipsis"  ng-show="event.motifs !== undefined " > - [[event.motifs.libelle]]</div>

                    </div>
                </div>

            </article>
            <div class="five cell date-label-NotEnd" ng-if="cours.etatcours==='NOTEND'">
                <!--span class="label">
                     <em class="metadata">
                        [[formatDate(cours.timestamp_dt,cours.timestamp_fn)]]
                    </em>
                </span-->
            </div>
            <div class="event one cell">
                <div class="round" ng-class="getColorByEvent(cours.evenement)"> </div>
            </div>
            <article class="horizontal-spacing cell five eleven-mobile event-description "
                     ng-if="cours.etatcours==='NOTEND'"
                     ng-class="{ isAbsPrev: cours.abcsPrev}"
                     preview>
                <div class="">
                    <em class="metadata">
                        [[formatDate(cours.timestamp_dt,cours.timestamp_fn)]]
                    </em>
                </div>
                <div class="row">
                    [[getMatiere(cours.id_matiere)]] - <i18n>room</i18n>: [[cours.salle]]
                </div>
            </article>
            <div class="five cell date-label" ng-if="cours.etatcours==='END'">
                <span ng-if="cours.isAbsent && cours.evenement.motifs.justifiant" tooltip="Absence justifiée" >
                    <i   class="ok"></i>
                </span>
            </div>
        </div>
    </div>
    <article ng-if="selected.eleve.cours.length === 0">
        <i18n>presence.personnel.cours.empty</i18n>
    </article>
</div>