<lightbox show="detailDeclaration" class="detail_declaration" on-close="detailDeclarationAppel()">

    <table>
        <tr>
            <td>
                <h2><i18n>presences.declaration.titre</i18n></h2>
            </td>
            <td><span>[[updateDetailDeclaration.titre]]</span></td>
        </tr>
        <tr>
            <td>
                <h2><i18n>presences.declaration.owner</i18n></h2>
            </td>
            <td><span>[[updateDetailDeclaration.nom_parent]]</span></td>
        </tr>
        <tr>
            <td>
                <h2><i18n>presences.declaration.eleve</i18n></h2>
            </td>
            <td><span>[[updateDetailDeclaration.nom_eleve]]</span></td>
        </tr>
        <tr>
            <td>
                <h2><i18n>presences.declaration.creation</i18n></h2>
            </td>
            <td><span>[[formatDate(updateDetailDeclaration.created)]]</span></td>
        </tr>
        <tr>
            <td>
                <h2><i18n>presences.declaration.periode</i18n></h2>
            </td>
            <td>
                <div class="row">
                    <i18n>viescolaire.utils.from</i18n><span> : [[formatDate(updateDetailDeclaration.timestamp_dt)]]</span>
                </div>
                <div class="row">
                    <i18n>viescolaire.utils.to</i18n><span> : [[formatDate(updateDetailDeclaration.timestamp_fn)]]</span>
                </div>
            </td>
        </tr>
    </table>

    <h2 class="twelve cell">
        <i18n>viescolaire.absences.commentaire</i18n>
    </h2>
    <p class="commentaire_detail_decl">[[updateDetailDeclaration.commentaire]]</p>

    <div class="twelve cell">
        <button ng-click="" class="right-magnet">
            <i18n>presences.declaration.saisir</i18n>
        </button>
    </div>
</lightbox>