<div class="ten cell content-list cell-indent" bottom-scroll="piFilterAbsences = piFilterAbsences + 20">
    <div sticky offset="65" class="row header">
        <div class="cell four"
             ng-click="pOSortParameters.sortType = 'titre'; pOSortParameters.sortReverse = !pOSortParameters.sortReverse">
            Titre
            <i class="sort-desc"
               ng-show="pOSortParameters.sortType == 'titre' && !pOSortParameters.sortReverse"></i>
            <i class="sort-asc"
               ng-show="pOSortParameters.sortType == 'titre' && pOSortParameters.sortReverse"></i>
        </div>
        <div class="cell three"
             ng-click="pOSortParameters.sortType = 'created'; pOSortParameters.sortReverse = !pOSortParameters.sortReverse">
            Creation
            <i class="sort-desc"
               ng-show="pOSortParameters.sortType == 'created' && !pOSortParameters.sortReverse"></i>
            <i class="sort-asc"
               ng-show="pOSortParameters.sortType == 'created' && pOSortParameters.sortReverse"></i>
        </div>
        <div class="cell three"
             ng-click="pOSortParameters.sortType = 'timestamp_dt'; pOSortParameters.sortReverse = !pOSortParameters.sortReverse">
            Periode
            <i class="sort-desc"
               ng-show="pOSortParameters.sortType == 'timestamp_dt' && !pOSortParameters.sortReverse"></i>
            <i class="sort-asc"
               ng-show="pOSortParameters.sortType == 'timestamp_dt' && pOSortParameters.sortReverse"></i>
        </div>
        <div class="cell one"
             ng-click="pOSortParameters.sortType = 'traitee'; pOSortParameters.sortReverse = !pOSortParameters.sortReverse">
            Traitee
            <i class="sort-desc"
               ng-show="pOSortParameters.sortType == 'traitee' && !pOSortParameters.sortReverse"></i>
            <i class="sort-asc"
               ng-show="pOSortParameters.sortType == 'traitee' && pOSortParameters.sortReverse"></i>
        </div>
        <div class="cell one">
            Expand
        </div>
    </div>
    <div class="body">
        <div ng-repeat="declaration in selectedEleve.declarations.all | orderBy:pOSortParameters.sortType:pOSortParameters.sortReverse|limitTo:piFilterAbsences">
            <div class="row item"
                 ng-click="declaration.expand = !declaration.expand">
                <div class="four cell ellipsis">[[declaration.titre]]</div>
                <div class="three cell ellipsis">[[formatDate(declaration.created)]]</div>
                <div class="three cell ellipsis">[[formatDate(declaration.timestamp_dt, declaration.timestamp.fn)]]
                </div>
                <div class="one cell">
                    &nbsp
                    <i ng-show="!declaration.traitee" class="center-content cancel"></i>
                </div>
                <div class="one cell center-content expand">
                    <div ng-show="!!declaration.expand == true">-</div>
                    <div ng-show="!!declaration.expand == false">+</div>
                </div>
            </div>
            <div class="row center-content item-expand twelve cell"
                 ng-class="{ expand : declaration.expand }">
                <div class="ten cell">
                    <span>[[ declaration.commentaire ]]</span>
                </div>
            </div>
        </div>
    </div>
</div>