<div class="row" ng-controller="VscoAppoPersonnelController">
    <container template="AbscHeadDate"></container>
    <container template="AbscFiltres" class="two cell" ng-class="{two : !display.menu, three : display.menu}"></container>
    <div ng-class="{nine : display.menu, ten : !display.menu}" class="cell abscSM-content">
        <ul class="selectable-list abscSM-content--SMSelectable-list">
            <li class="chip with-icone" ng-click="pOFilterAppel.noneffectues = !pOFilterAppel.noneffectues; applyAppelFilter()" ng-class="{ selected : pOFilterAppel.noneffectues }"><i class="report"></i><i18n>viescolaire.absences.ariane.AppelsOublies</i18n></li>
        </ul>
        <div class="list-view-cgi">
            <div class="ten cell abscSM-content--SM-list panel-in-cell">
                <div sticky offset="65" class="abscSM-content--SM-list--header">
                    <div class="cell cell-indent one"></div>
                    <div class="cell cell-indent two" ng-click="pOSortParameters.sortType = 'personnel'; pOSortParameters.sortReverse = !pOSortParameters.sortReverse"><i18n>viescolaire.utils.enseignant</i18n>
                        <i class="sort-desc" ng-show="pOSortParameters.sortType == 'personnel' && !pOSortParameters.sortReverse"></i>
                        <i class="sort-asc" ng-show="pOSortParameters.sortType == 'personnel' && pOSortParameters.sortReverse"></i>
                    </div>
                    <div class="cell cell-indent two" ng-click="pOSortParameters.sortType = 'classe_libelle'; pOSortParameters.sortReverse = !pOSortParameters.sortReverse"><i18n>viescolaire.utils.classe</i18n> - <i18n>viescolaire.utils.groupe</i18n>
                        <i class="sort-desc" ng-show="pOSortParameters.sortType == 'classe_libelle' && !pOSortParameters.sortReverse"></i>
                        <i class="sort-asc" ng-show="pOSortParameters.sortType == 'classe_libelle' && pOSortParameters.sortReverse"></i>
                    </div>
                    <div class="cell cell-indent three" ng-click="pOSortParameters.sortType = 'timestamp_dt'; pOSortParameters.sortReverse = !pOSortParameters.sortReverse"><i18n>viescolaire.utils.date</i18n> / <i18n>viescolaire.utils.heure</i18n>
                        <i class="sort-desc" ng-show="pOSortParameters.sortType == 'timestamp_dt' && !pOSortParameters.sortReverse"></i>
                        <i class="sort-asc" ng-show="pOSortParameters.sortType == 'timestamp_dt' && pOSortParameters.sortReverse"></i>
                    </div>
                    <div class="cell cell-indent three" ng-click="pOSortParameters.sortType = 'cours_matiere'; pOSortParameters.sortReverse = !pOSortParameters.sortReverse"><i18n>viescolaire.utils.matiere</i18n>
                        <i class="sort-desc" ng-show="pOSortParameters.sortType == 'cours_matiere' && !pOSortParameters.sortReverse"></i>
                        <i class="sort-asc" ng-show="pOSortParameters.sortType == 'cours_matiere' && pOSortParameters.sortReverse"></i>
                    </div>
                    <div style="display: none !important" class="cell cell-indent" style="display: none" ng-click="pOSortParameters.sortType = 'id_etat'; pOSortParameters.sortReverse = !pOSortParameters.sortReverse"><i class="report"></i>
                        <i class="sort-desc" ng-show="pOSortParameters.sortType == 'id_etat' && !pOSortParameters.sortReverse"></i>
                        <i class="sort-asc" ng-show="pOSortParameters.sortType == 'id_etat' && pOSortParameters.sortReverse"></i>
                    </div>
                </div>
                <div class="abscSM-content--SM-list--list panel-in-cell">
                    <div class="abscSM-content--SM-list--item cell-indent" ng-click="openAppel(appel)" ng-repeat="appel in structure.appels.all | filter:personnelFilter | filter : poRecherche.nom | filter:appelFilter | orderBy:pOSortParameters.sortType:pOSortParameters.sortReverse">
                        <div class="cell cell-indent one" ng-click="$event.stopPropagation()">
                            <label class="checkbox">
                                <input ng-disabled="appel.id_etat === 3" type="checkbox" ng-change="checkAppel(appel)" ng-init="appel.selected = false" ng-model="appel.selected" class="ng-pristine ng-valid">
                                <span></span>
                            </label>
                        </div>
                        <div class="cell cell-indent two">[[appel.personnel]]</div>
                        <div class="cell cell-indent two">[[appel.classe_libelle]]</div>
                        <div class="cell cell-indent three">[[formatDate(appel.timestamp_dt, appel.timestamp_fn)]]</div>
                        <div class="cell cell-indent three">[[appel.cours_matiere]]</div>
                        <div class="cell cell-indent one" style="display: none">
                            <i class="report" ng-if="appel.id_etat === null"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="toggle-buttons" ng-class="{ hide: selectedAppels.length == 0 }">
        <div class="toggle">
            <div class="row">
                <button class="cell"  ng-click="alert('Fonctionnalité bientôt disponible')"
                        ng-repeat="justificatif in structure.justificatifs.all">
                    [[justificatif.libelle]]
                </button>
            </div>
        </div>
    </section>
</div>

