<div class="twelve cell">

    <!-- Header -->
    <header class="header-viescolaire">
        <h1><i18n>viescolaire.viescolaire.title</i18n></h1>
    </header>

    <!--  Menu de gauche  -->
    <nav class="two cell vertical menu-accueil">
        <ul>
            <li><a href="#"><i18n>viescolaire.viescolaire.saisir.appel</i18n></a></li>
            <li><a href="#"><i18n>viescolaire.viescolaire.appels.oublies</i18n></a></li>
            <li><a href="#"><i18n>viescolaire.viescolaire.absences.sans.motif</i18n></a></li>
            <li><a href="#"><i18n>viescolaire.viescolaire.saisir.absence</i18n></a></li>
        </ul>
    </nav>

    <!--  Contenu (zone centrale)  -->
    <div class="ten cell main-content">

        <section>
            <article class="five cell margin-five box-accueil">
                <h2><i18n>viescolaire.viescolaire.absences.sans.motif</i18n></h2>
                <div class="content-box-accueil">
                    <table class="list-view">
                        <thead>
                            <tr>
                                <th>Nom Prenom</th>
                                <th>Date/Heure</th>
                                <th>Classe</th>
                                <th>Matière</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>AHIL Rayyan</td>
                                <td>02/02/2016 - 08h00</td>
                                <td>3eme4</td>
                                <td>Français</td>
                            </tr>
                            <tr>
                                <td>AHIL Rayyan</td>
                                <td>02/02/2016 - 08h00</td>
                                <td>3eme4</td>
                                <td>Français</td>
                            </tr>
                            <tr>
                                <td>AHIL Rayyan</td>
                                <td>02/02/2016 - 08h00</td>
                                <td>3eme4</td>
                                <td>Français</td>
                            </tr>
                            <tr>
                                <td>AHIL Rayyan</td>
                                <td>02/02/2016 - 08h00</td>
                                <td>3eme4</td>
                                <td>Français</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </section>
        <section>
            <article class="five cell margin-five box-accueil">
                <h2><i18n>viescolaire.viescolaire.appels.oublies</i18n></h2>
                <div class="content-box-accueil">
                    <table class="list-view">
                        <thead>
                            <tr>
                                <th>Enseignant</th>
                                <th>Date/Heure</th>
                                <th>Classe</th>
                                <th>Matière</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>AMIOT C.</td>
                                <td>02/02/2016 - 08h00</td>
                                <td>3eme4</td>
                                <td>Français</td>
                            </tr>
                            <tr>
                                <td>AMIOT C.</td>
                                <td>02/02/2016 - 08h00</td>
                                <td>3eme4</td>
                                <td>Français</td>
                            </tr>
                            <tr>
                                <td>AMIOT C.</td>
                                <td>02/02/2016 - 08h00</td>
                                <td>3eme4</td>
                                <td>Français</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </article>
        </section>
        <section>
            <article class="five cell margin-five box-accueil">
                <h2><i18n>viescolaire.viescolaire.mots.pour.viescolaire</i18n></h2>
                <div class="content-box-accueil">
                    <table class="list-view">
                        <thead>
                        <tr>
                            <th>Date/Heure</th>
                            <th>Mot</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>02/02/2016 - 08h00</td>
                            <td>Riza GOK et notée absente mais bien présent lors de mon cours.</td>
                        </tr>
                        <tr>
                            <td>02/02/2016 - 08h00</td>
                            <td>Riza GOK et notée absente mais bien présent lors de mon cours.</td>
                        </tr>
                        <tr>
                            <td>02/02/2016 - 08h00</td>
                            <td>Riza GOK et notée absente mais bien présent lors de mon cours.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </section>
        <section>
            <article class="five cell margin-five box-accueil">
                <div class="content-box-accueil">
                    <select name="" id="">
                        <option value="">Nombre d'absences de la semaine</option>
                    </select>
                </div>
            </article>
        </section>
    </div>


</div>