<div class="row">
    <div class="cell twelve legend">

        <h4>
            [[displayText]]
        </h4>


        <div class="separator"></div>

    </div>

    <div ng-if="!displayCreateCategorie" class="cell twelve">
        <!-- Libelle -->
        <section class="row twelve-mobile">
            <div class="three cell twelve-mobile">
                <i18n>viescolaire.libelle</i18n>
                <i class="asterisk obligatoire"></i>
            </div>

            <div class="nine cell twelve-mobile">
                <input type="text" class="eleven twelve-mobile" ng-model="newMotif.libelle"  ng-required="true">
            </div>
        </section>
        <!-- commentaire -->
        <section class="row twelve-mobile">
            <div class="three cell twelve-mobile">
                <i18n>viescolaire.absences.commentaire</i18n>
                <i class="asterisk obligatoire"></i>
            </div>
            <div class="nine cell twelve-mobile">
                <input type="text" class="eleven twelve-mobile" ng-model="newMotif.commentaire" ng-required="true">
            </div>
        </section>

        <!-- justifiant -->
        <section class="row twelve-mobile">
            <div class="three cell">
                <span><i18n>viescolaire.justifiant</i18n></span>
            </div>
            <div class="nine cell">
                <label class="checkbox">
                    <input type="checkbox"
                           ng-change="newMotif.justifiant = !newMotif.justifiant"
                           ng-click="newMotif.justifiant = !newMotif.justifiant;"
                           ng-model="newMotif.justifiant"
                           class="ng-pristine ng-valid">
                    <span></span>
                </label>
            </div>
        </section>

        <div class="separator"/>

        <!-- Catégorie -->

        <section class="row twelve-mobile">

            <div class="three cell twelve-mobile">
                <i18n>viescolaire.categorie</i18n>
            </div>

            <div class="five cell twelve-mobile">
                <label class="select twelve twelve-mobile">
                    <select ng-if="(isAppel !== undefined && !isAppel) || (newMotif !== undefined && newMotif.is_appel_oublie !== undefined && !newMotif.is_appel_oublie)" ng-model="newMotif.id_categorie"
                            ng-options="categorie.id as
                            categorie.libelle for categorie in structure.categories.all">
                    </select>
                    <select ng-if="(isAppel !== undefined && isAppel) || (newMotif !== undefined && newMotif.is_appel_oublie !== undefined && newMotif.is_appel_oublie) " ng-model="newMotif.id_categorie"
                            ng-options="categorie.id as
                            categorie.libelle for categorie in structure.categorieAppels.all">
                    </select>
                </label>
            </div>
            <div class="four cell right-magnet">
                <button data-ng-click="createCategorie(isAppel)" class="right-magnet cancel">
                    <span><i18n>viescolaire.create.categorie</i18n></span>
                </button>
            </div>
        </section>


        <div ng-if="!isAppel" class="twelve cell">
            <input class="right-magnet" type="button"
                   ng-disabled="newMotif.id_categorie === undefined || isStringUndefinedOrEmpty(newMotif.libelle) || isStringUndefinedOrEmpty(newMotif.commentaire)"
                   ng-click="saveMotif()"
                    i18n-value="viescolaire.utils.save">
        </div>
        <div ng-if="isAppel" class="twelve cell">
            <input class="right-magnet" type="button"
                   ng-disabled="newMotif.id_categorie === undefined || isStringUndefinedOrEmpty(newMotif.libelle) || isStringUndefinedOrEmpty(newMotif.commentaire)"
                   ng-click="saveMotifAppel()"
                   i18n-value="viescolaire.utils.save">
        </div>
    </div>

    <div ng-if="displayCreateCategorie" class="cell twelve">
        <!-- Libelle -->
    <section class="row twelve-mobile">
        <div class="three cell twelve-mobile">
            <i18n>viescolaire.libelle</i18n>
            <i class="asterisk obligatoire"></i>
        </div>

        <div class="nine cell twelve-mobile">
            <input type="text" class="eleven twelve-mobile" ng-model="newCategorie.libelle">
        </div>
    </section>
        <div class="twelve cell">
            <input type="button"
                   ng-disabled="isStringUndefinedOrEmpty(newCategorie.libelle)"
                   ng-click="saveCategorie(isAppel,newCategorie)"
                   i18n-value="viescolaire.utils.save">

            <div ng-if="!isModif" class="three cell right-magnet">
                <button data-ng-click="openCreateMotif()" class="right-magnet cancel">
                    <span><i18n>evaluations.remplacement.cancel</i18n></span>
                </button>
            </div>
        </div>
    </div>

</div>