<div class="twelve cell config-periode">
    <div class="two cell">
        <div class="side-col twelve-mobile" offset="65" sticky>
            <div class="row">
                <nav class="vertical">
                    <ul ng-init="currParam = 0;">
                        <li>
                            <a href="" ng-class="{'selected': currParam === 0}"
                               ng-click="currParam = 0;">
                                <i18n>viescolaire.periode.set</i18n>
                            </a>
                        </li>
                        <li workflow="viescolaire.importRetardAndAbsences">
                            <a href=""  ng-class="{'selected': currParam === 1}"
                               ng-click="currParam = 1;">
                                <i18n>viescolaire.import.absence.retard.csv</i18n>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- Paramétrage des période-->
    <div ng-if="currParam === 0"
            ng-include="'/viescolaire/public/templates/viescolaire/param_periode.html'">
    </div>
    <!-- Import de fichiers csv -->
    <div ng-if="currParam === 1"
         ng-include="'/viescolaire/public/templates/viescolaire/param_import_csv.html'">
    </div>
</div>
