<div ng-if="structure.isActived.presence" class="twelve">
    <div  class="row">
        <div class="row cell two">
            <div class="side-col twelve-mobile" offset="65" sticky>
                <div class="row">
                    <nav class="vertical">
                        <ul>
                            <li>
                                <a href="" ng-class="{'selected': currParam == 1}" ng-click="currParam = 1; scrollToElement(1)">
                                    <i18n>viescolaire.utils.reason.absences</i18n></a>
                            </li>

                            <li >
                                <a href="" ng-class="{'selected': currParam == 2}" ng-click="scrollToElement(2); currParam = 2" >
                                    <i18n>viescolaire.utils.reason.appel</i18n></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="ten cell twelve-mobile padd-left">
            <div class="hash-magnet twelve cell" id="1">
                <article >
                    <div class="twelve">
                        <h3>
                            <i18n>viescolaire.utils.reason.absences</i18n>
                            <button class="marginFive right-magnet" ng-click="isAppel=false;createMotif(false)">
                                <i18n>viescolaire.create.motif</i18n>
                            </button>
                        </h3>
                    </div>
                    <div class="twelve">
                        <button data-ng-click="slideAll(false)" class="cancel">
                            <span><i18n>viescolaire.slideAll</i18n></span>
                        </button>
                    </div>
                    <lightbox show="opened.lightboxCreateMotif" on-close="!opened.lightboxCreateMotif">
                        <container template="lightboxContainerCreateMotif"></container>
                    </lightbox>
                    <lightbox show="opened.lightboxDelete" on-close="!opened.lightboxDelete">
                        <p><i18n>viescolaire.suppression.motif.categorie.information.enconstruction</i18n></p>
                    </lightbox>
                    <div class="row">
                        <div class="responsive-table">
                            <table class="fixed-head">
                                <tbody>
                                <tr></tr>
                                <tr>
                                    <th class="display-check">
                                        <!--
                                        <label class="checkbox">
                                            <input type="checkbox" ng-model="selected.all" ng-change="selected.all = !selected.all">
                                            <span></span>
                                        </label>
                                        -->
                                    </th>
                                    <th class="text-white"><i18n>viescolaire.libelle</i18n></th>
                                    <th class="text-white"><i18n>viescolaire.absences.commentaire</i18n></th>
                                    <th class="text-white"><i18n>viescolaire.justifiant</i18n></th>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <table ng-repeat="categorie in structure.categories.all"
                                       ng-init="structure.categories.slidedAll = true">
                                    <thead ng-class="{ slided: categorie.slided }">
                                    <tr ng-init="categorie.slided = true" ng-click="categorie.slided = categorie.slided ? false : true" >
                                        <td>
                                            <i class="arrow" ng-if="categorie.motifs.all.length > 0"></i>

                                            <input type="checkbox"
                                                   ng-init="categorie.selected = false;"
                                                   ng-model="categorie.selected"
                                                   ng-change="selectCategorie(categorie)"
                                                   ng-hide="selected.motifs.length > 0"/>

                                        </td>
                                        <td data-label="[[lang.translate('viescolaire.libelle')]]"
                                            class="bold text-left">[[categorie.libelle]]</td>
                                        <td class=" "></td>
                                        <td class=" "></td>
                                    </tr>
                                    </thead>
                                    <tbody slide="categorie.slided">
                                    <tr ng-repeat="motif in categorie.motifs.all">
                                        <td>
                                            <input type="checkbox"
                                                   ng-init="motif.selected = false"
                                                   ng-model="motif.selected"
                                                   ng-change="selectMotif(motif)"
                                                   ng-hide="selected.categories.length > 0"/>
                                        </td>
                                        <td data-label="[[lang.translate('viescolaire.libelle')]]" class="text-left">
                                            [[motif.libelle]]
                                        </td>
                                        <td  data-label="[[lang.translate('viescolaire.absences.commentaire')]]"
                                             class="text-left">
                                            [[motif.commentaire]]
                                        </td>
                                        <td data-label="[[lang.translate('viescolaire.justifiant')]]" class="text-left">
                                            <i ng-if="motif.justifiant" class="ok"></i>
                                            <i ng-if="!motif.justifiant" class="close-2x"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="hash-magnet twelve cell" id="2">
                <article >
                    <div>
                        <h3>
                            <i18n>viescolaire.utils.reason.appel</i18n>
                            <button class="marginFive right-magnet" ng-click="isAppel=true;createMotif(true)">
                                <i18n>viescolaire.create.motif</i18n>
                            </button>
                        </h3>

                    </div>
                    <div class="twelve">
                        <button data-ng-click="slideAll(true)" class="cancel">
                            <span><i18n>viescolaire.slideAll</i18n></span>
                        </button>
                    </div>
                    <div class="row">
                        <div class="responsive-table">
                            <table class="fixed-head">
                                <tbody>
                                <tr></tr>
                                <tr>
                                    <th class=" display-check ">
                                        <!--<label class="checkbox">-->
                                        <!--<input type="checkbox" ng-model="selected.all" ng-change="selected.all = !selected.all">-->
                                        <!--<span></span>-->
                                        <!--</label>-->

                                    </th>
                                    <th class=" text-white"><i18n>viescolaire.libelle</i18n></th>
                                    <th class=" text-white"><i18n>viescolaire.absences.commentaire</i18n></th>
                                    <th class=" text-white"><i18n>viescolaire.justifiant</i18n></th>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <table ng-repeat="categorie in structure.categorieAppels.all"
                                       ng-init="structure.categorieAppels.slidedAll = true"><thead ng-class="{ slided: categorie.slided }">
                                <tr ng-init="categorie.slided = true" ng-click="categorie.slided = categorie.slided ? false : true">
                                    <td>
                                        <i class="arrow" ng-if="categorie.motifAppels.all.length > 0"></i>
                                        <input type="checkbox"
                                               ng-init="categorie.selected = false;"
                                               ng-model="categorie.selected"
                                               ng-change="selectCategorie(categorie)"
                                               ng-hide="selected.motifs.length > 0"/>
                                    </td>
                                    <td data-label="[[lang.translate('viescolaire.libelle')]]"
                                        class="bold text-left">[[categorie.libelle]]</td>
                                    <td class=""></td>
                                    <td class=""></td>
                                </tr>
                                </thead>
                                    <tbody slide="categorie.slided">
                                    <tr ng-repeat="motif in categorie.motifAppels.all">
                                        <td >
                                            <input type="checkbox"
                                                   ng-init="motif.selected = false"
                                                   ng-model="motif.selected"
                                                   ng-change="selectMotif(motif)"
                                                   ng-hide="selected.categories.length > 0"/>
                                        </td>
                                        <td data-label="[[lang.translate('viescolaire.libelle')]]" class=text-left">
                                            [[motif.libelle]]
                                        </td>
                                        <td  data-label="[[lang.translate('viescolaire.absences.commentaire')]]"
                                             class="text-left">
                                            [[motif.commentaire]]
                                        </td>
                                        <td data-label="[[lang.translate('viescolaire.justifiant')]]" class="text-left">
                                            <i ng-if="motif.justifiant" class="ok"></i>
                                            <i ng-if="!motif.justifiant" class="close-2x"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></div>
                        </div>
                    </div>
                </article>
            </div>
            <section class="toggle-buttons" ng-class="{ hide: selected.categories.length === 0
                                                                         && selected.motifs.length === 0}">
                <div class="toggle">
                    <div class="row">
                        <button ng-show="selected.categories.length === 1"
                                class="cell ng-scope"
                                ng-click="updateCategorie()">
                            <i18n><span class="no-style">viescolaire.categorie.edit</span></i18n>
                        </button>

                        <button ng-show="selected.motifs.length === 1"
                                class="cell ng-scope"
                                ng-click="updateMotif()">
                            <i18n><span class="no-style">viescolaire.motif.edit</span></i18n>
                        </button>
                        <button class="cell ng-scope" ng-click="opened.lightboxDelete = true;">
                            <i18n><span class="no-style">evaluations.test.delete</span></i18n>
                        </button>
                    </div>
                </div>
            </section>
        </div>

    </div>

</div>
