<div autoscroll="true" class="twelve cell">
    <section class="twelve cell row headerAccueil">
        <div class="twelve cell ">
            <header class="header-viescolaire">
                <h1><span><i18n>viescolaire.param</i18n></span></h1>
                <label ng-if="structures.all.length > 1"  class="select right-magnet">
                    <select ng-model="structure"
                            ng-options="structure.name for structure in structures.all track by structure.id"
                            ng-change="changeEtablissementAccueil(structure)">
                    </select>
                </label>
            </header>
        </div>
    </section>

    <div class="twelve tabs vertical-spacing-twice heading-tabs">

        <header ng-class="{selected : findParam('filter') === null}"
                class="horizontal-spacing-twice">
            <a href="#/viescolaire/accueil"
               class="horizontal-spacing">
                <span><i18n>viescolaire.utils.school</i18n></span>
            </a>
        </header>
        <header ng-class="{selected : findParam('filter') === lang.translate('viescolaire.notes.title')}"
                class="horizontal-spacing-twice">
            <a href="#/viescolaire/accueil?filter=[[lang.translate('viescolaire.notes.title')]]"
               class="horizontal-spacing">
                <span><i18n>evaluations.competences.title</i18n></span>
            </a>
        </header>
        <header ng-if="false" ng-class="{selected : findParam('filter') === lang.translate('viescolaire.presences.title') }"
                class="horizontal-spacing-twice">
            <a href="#/viescolaire/accueil?filter=[[lang.translate('viescolaire.presences.title')]]"
               class="horizontal-spacing">
                <span><i18n>viescolaire.presences.title</i18n></span>
            </a>
        </header>
    </div>
    <div ng-if="findParam('filter') === null">
        <div ng-include="'/viescolaire/public/templates/viescolaire/param_etab.html'"></div>
    </div>
    <div ng-if="findParam('filter') === lang.translate('viescolaire.notes.title')">
        <article class="twelve">
            <span class="three"><i18n>activated.module</i18n></span>

            <div class="cell one">
                <label class="checkbox">
                    <input type="checkbox"
                           ng-change="structure.activate('notes', structure.isActived.evaluation, structure.id);
                                              structure.isActived.evaluation = !structure.isActived.evaluation;"
                           ng-click="structure.isActived.evaluation = !structure.isActived.evaluation;"
                           ng-model="structure.isActived.evaluation">
                    <span></span>
                </label>
            </div>
        </article>
        <div ng-include="'/viescolaire/public/templates/viescolaire/param_competence.html'"></div>
        <div ng-if="findParam('filter') === lang.translate('viescolaire.presences.title')">
            <article class="twelve">
                <label for="structure.isActived.presence" ><i18n>activated.module</i18n></label>
                <div class="cell one">
                    <label class="checkbox">
                        <input id="structure.isActived.presence" type="checkbox"
                               ng-change ="structure.activate('presences', structure.isActived.presence, structure.id );
                                                   structure.isActived.presence = !structure.isActived.presence;"
                               ng-click="structure.isActived.presence = !structure.isActived.presence;"
                               ng-model="structure.isActived.presence">
                        <span></span>
                    </label>
                </div>
            </article>
            <div ng-include="'/viescolaire/public/templates/viescolaire/param_presence.html'"></div>
        </div>
    </div>
</div>


