<div class="twelve cell" ng-controller="VscoAdminController">
    <section class="eleven cell row headerAccueil">
        <div class="twelve cell ">
            <header>
                <label class="select right-magnet">
                    <select ng-model="structure" ng-options="structure.name for structure in structures.all
                            track by structure.id">
                    </select>
                </label>
            </header>
        </div>
    </section>

    <div class="twelve tabs vertical-spacing-twice heading-tabs">
        <header ng-class="{selected : !hasParam('filter')}" class="horizontal-spacing-twice selected">
            <a href="#/viescolaire/accueil" class="horizontal-spacing">
                <span><i18n><span class="no-style ng-scope">viescolaire.utils.school</span></i18n></span>
            </a>
        </header>
        <header ng-class="{selected : findParam('filter') === lang.translate('viescolaire.notes.title')}"
                class="horizontal-spacing-twice ng-scope">
            <a href="#/viescolaire/accueil?filter=[[lang.translate('viescolaire.notes.title')]]"
               class="horizontal-spacing">
                <span><i18n><span class="no-style ng-scope">viescolaire.notes.title</span></i18n></span>
            </a>
        </header>
        <header ng-class="{selected : findParam('filter') === lang.translate('viescolaire.presences.title') }"
                class="horizontal-spacing-twice ng-scope">
            <a href="#/viescolaire/accueil?filter=[[lang.translate('viescolaire.presences.title')]]"
               class="horizontal-spacing">
                <span><i18n><span class="no-style ng-scope">viescolaire.presences.title</span></i18n></span>
            </a>
        </header>
    </div>
    <div class="twelve cell">
        <div ng-if="!hasParam('filter')">
        </div>
        <div ng-if="findParam('filter') === lang.translate('viescolaire.notes.title')">
            <div class="twelve">
                <span class="three"><i18n>activated.module</i18n></span>

                <div class="cell one">
                    <label class="checkbox">
                        <input type="checkbox"
                               ng-change="structure.activate('notes', structure.isActived.evaluation, structure.id);
                                              structure.isActived.evaluation = !structure.isActived.evaluation;"
                               ng-click="structure.isActived.evaluation = !structure.isActived.evaluation;"
                               ng-model="structure.isActived.evaluation"
                               class="ng-pristine ng-valid">
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
        <div ng-if="findParam('filter') === lang.translate('viescolaire.presences.title')">
            <div class="twelve">
                <span><i18n>activated.module</i18n></span>
                <div class="cell one">
                    <label class="checkbox">
                        <input type="checkbox"
                               ng-change ="structure.activate('presences', structure.isActived.presence, structure.id );
                                                   structure.isActived.presence = !structure.isActived.presence;"
                               ng-click="structure.isActived.presence = !structure.isActived.presence;"
                               ng-model="structure.isActived.presence"
                               class="ng-pristine ng-valid">
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>


